@page "/project/{urn}/features/specificreason"
@using Dfe.PrepareTransfers.Web.Pages.Projects.Features
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.Projects.Features.SpecificReason

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Specific reason for the transfer";
    Layout = "_Layout";
    var formClasses = !ViewData.ModelState.IsValid ? "govuk-form-group--error" : "";
    var selected = Model.SpecificReasonsForTheTransfer.Any() ? Model.SpecificReasonsForTheTransfer[0] : Dfe.PrepareTransfers.Data.Models.Projects.TransferFeatures.SpecificReasonForTheTransferTypes.Empty;
}

@section BeforeMain
{
    <backtopreview urn="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/Features/Index" asp-route-urn="@Model.Urn">Back</a>
    </backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="">
            <input type="hidden" asp-for="Urn" />
            <input type="hidden" asp-for="ReturnToPreview" />
            <input type="hidden" asp-for="IncomingTrustName" />

            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">
                                @Model.IncomingTrustName
                            </span>
                            @(Model.ReasonForTheTransfer == Dfe.PrepareTransfers.Data.Models.Projects.TransferFeatures.ReasonForTheTransferTypes.Dfe
                            ? "What are the specific reasons for this transfer?" 
                            : "What is the specific reason for this transfer?")
                        </h1>
                    </legend>

                    <p asp-gds-validation-for="@Model.SpecificReasonsForTheTransfer"></p>
                    @if (Model.ReasonForTheTransfer == Dfe.PrepareTransfers.Data.Models.Projects.TransferFeatures.ReasonForTheTransferTypes.Dfe)
                    {

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                            <gds-checkboxes checkboxes="SpecificReason.SpecificReasonsCheckboxes(Model.SpecificReasonsForTheTransfer, Model.ReasonForTheTransfer)" without-container="true"></gds-checkboxes>

                        </div>
                    }
                    else
                    {

                        @await Html.PartialAsync("_RadioButtons", SpecificReason.SpecificReasonRadioButtons(selected, @Model.ReasonForTheTransfer))
                    }

                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>