@model Frontend.Models.Forms.AdditionalInformationViewModel
@if (Model.AddOrEditAdditionalInformation) 
{
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="@Model.AdditionalInformation">
                    Additional information if you need to
                </label>
            </h1>
            <div id="additional-information-hint" class="govuk-hint">
                @Model.HintText
            </div>
            <form method="post">
                <input type="text" name="returnToPreview" value="@Model.ReturnToPreview.ToString()" hidden />
                <textarea class="govuk-textarea" asp-for="@Model.AdditionalInformation" id="additionalInformation" name="additionalInformation" rows="5" aria-describedby="additional-information-hint"></textarea>
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
}
else
{
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="@Model.AdditionalInformation">
                Additional information
            </label>
        </h1>
        <div id="additional-information-hint" class="govuk-hint">
            @Model.HintText
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt id="additional-information" class="govuk-summary-list__key">
                    Additional information
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (string.IsNullOrEmpty(Model.AdditionalInformation))
                    {
                        <span class="dfe-empty-tag">Empty</span>
                    }
                    else
                    {
                        @Model.AdditionalInformation
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-route-addOrEditAdditionalInformation="true" asp-route-id="@Model.Urn" asp-fragment="additional-information-hint">
                        Change<span class="govuk-visually-hidden"> additional information</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>
}
