@page "/project/{urn}/academy-and-trust-information/incoming-trust-name"
@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academisation.ExtensionMethods
@model Dfe.PrepareTransfers.Web.Pages.Projects.AcademyAndTrustInformation.IncomingTrustNameModel
@{
    Layout = "_Layout";
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Enter the project name";
    var formClasses = ViewData.ModelState.IsValid ? "" : "govuk-form-group--error";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-page="/Projects/AcademyAndTrustInformation/Index" asp-route-urn="@Model.Urn">Back</a>
}

<div asp-gds-validation-summary></div>
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="govuk-form" method="post">
            <input type="hidden" asp-for="@Model.Urn" />
            <input type="hidden" asp-for="@Model.ReturnToPreview" />
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" id="@nameof(Model.IncomingTrustName)">
                        <h1 class="govuk-fieldset__heading">
                            Enter the incoming trust's name
                        </h1>
                    </legend>
                    <p asp-gds-validation-for="IncomingTrustName"></p>
                    <input class="govuk-input" name="IncomingTrustName" id="IncomingTrustName" type="text" aria-describedby="query-hint" value="@Model.IncomingTrustName" />
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>