@page "/project/{urn}/legalrequirements/diocesan-consent"

@model Frontend.Pages.Projects.LegalRequirements.DiocesanConsentModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Diocesan consent";
    Layout = "_Layout";
    
    var formClasses = ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error";
}

@section BeforeMain
{
    <backtopreview urn="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/LegalRequirements/Index" asp-route-urn="@Model.Urn">Back</a>
    </backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Urn"/>
            <input type="hidden" asp-for="@Model.ReturnToPreview"/>
            <input type="hidden" asp-for="@Model.IncomingTrustName"/>
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset" aria-describedby="diocesan-consent-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" data-test="header">
                            <span class="govuk-caption-l">
                                @Model.IncomingTrustName
                            </span>
                            Have you spoken with the diocese about the incoming trust?
                        </h1>
                        <div id="diocesan-consent-hint" class="govuk-hint">
                            You'll need to speak with the diocese if the academy is part of one.
                        </div>
                    </legend>

                    <p asp-gds-validation-for="DiocesanConsentViewModel.DiocesanConsent"></p>
                    <partial for="RadioButtonsYesNoNotApplicable" name="Shared/_RadioButtons"/>
                    
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit" data-test="submit-btn">
                Save and continue
            </button>
        </form>
    </div>
</div>