@page "/home"
@using Dfe.PrepareTransfers.Data.Models
@using Dfe.PrepareTransfers.Data.Models.Projects
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.Home.Index


@{
    ViewBag.Title = "Home";
    Layout = "_Layout";

    var pagesToDisplay = new List<int>() { 1, Model.CurrentPage, Model.TotalPages };
    if (Model.HasPreviousPage)
        pagesToDisplay.Add(Model.PreviousPage);
    if (Model.HasNextPage)
        pagesToDisplay.Add(Model.NextPage);
}

@section BeforeMain
{
}

@if (Model.Filters.IsFiltered)
{
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                Projects filtered.
            </h3>
        </div>
    </div>
}

<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" data-cy="select-heading">
            Transfer projects
        </h1>
        <p class="govuk-body-l">
            Find and manage existing transfer projects or create a new one.
        </p>
        <a asp-page="/Transfers/NewTransfersInformation" role="button" draggable="false"
           class="govuk-button govuk-button--start" data-module="govuk-button" data-test="create-transfer">
            Create a new transfer
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-font-size-27" data-cy="select-projectlist-filter-count">
            @Model.TotalProjectCount projects found
        </h2>

        <partial name="Shared/_ProjectListFilters" model="Model.Filters" />

        @if (Model.SearchCount == 0)
        {
            <div class="govuk-heading-m govuk-!-margin-top-3">There are no matching results.</div>
            <p class="govuk-body">Improve your results by:</p>
            <ul class="govuk-list govuk-list--bullet govuk-body">
                <li>double-checking your spelling</li>
                <li>searching again with another trust</li>
                <li>removing some filters</li>
            </ul>
        }
        else
        {
            <a class="govuk-button govuk-button--secondary" asp-page-handler="Download"> Download as a spreadsheet</a>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">@Model.TotalProjectCount projects found</caption>

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header app-!-width-three-fifths">Application information</th>
                        <th class="govuk-table__header govuk-!-text-align-right app-!-width-two-fifths prepare-text-align-right">Project status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @{
                        var index = 0;
                    }
                    @foreach (ProjectSearchResult project in Model.Projects.Where(p => p.TransferringAcademies.Any()))
                    {
                        TransferringAcademies firstOutgoingAcademy = project.TransferringAcademies.First();
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1">
                                    <strong>
                                        <a data-id="project-link-@project.Urn" class="govuk-link" asp-page="/Projects/Index" asp-route-urn="@project.Urn">
                                            @firstOutgoingAcademy.IncomingTrustNameInTitleCase
                                        </a>
                                    </strong>
                                    @if (!project.IsFormAMat.HasValue || !project.IsFormAMat.Value)
                                    {
                                        <span>
                                            UKPRN @firstOutgoingAcademy.IncomingTrustUkprn
                                        </span>
                                    }
                                </h2>
                                <p class="govuk-!-margin-top-3">
                                    <div>Project reference: @project.Reference</div>
                                    <div>Outgoing trust: @project.OutgoingTrustNameInTitleCase</div>
                                    @if (string.IsNullOrWhiteSpace(project?.AssignedUser?.FullName))
                                    {
                                        <div id="@("delivery-officer-" + index)">Delivery officer: <span class="empty">Empty</span></div>
                                    }
                                    else
                                    {
                                        <div id="@("delivery-officer-" + index)">Delivery officer: <strong>@project.AssignedUser.FullName</strong></div>
                                    }
                                </p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
                                <p class="govuk-!-margin-top-0">
                                    @{

                                        var decisionClass = project.Status switch
                                        {
                                            "Approved" => "govuk-tag--green",
                                            "Deferred" => "govuk-tag--orange",
                                            "Withdrawn" => "govuk-tag--purple",
                                            _ => "govuk-tag--red"
                                        };


                                        if (string.IsNullOrEmpty(project.Status))
                                        {
                                            <strong class="govuk-tag govuk-tag--yellow">
                                                PRE ADVISORY BOARD
                                            </strong>
                                        }
                                        else
                                        {
                                            <strong class="@($"govuk-tag {decisionClass}")" }>
                                                @project.Status
                                            </strong>
                                        }
                                    }
                                </p>
                            </td>
                        </tr>

                        index++;
                    }
                </tbody>
            </table>

            <nav class="moj-pagination" id="pagination-label" aria-label="pagination">
                <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
                <ul class="moj-pagination__list">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="moj-pagination__item  moj-pagination__item--prev">
                            <a class="moj-pagination__link" asp-page="/Home/Index" asp-route-currentPage="@Model.PreviousPage" asp-route-Title="@Model.Filters.Title">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                        </li>
                    }
                    @for (var pageIdx = 0; pageIdx < Model.TotalPages; pageIdx++)
                    {
                        var pageNumber = pageIdx + 1;
                        var isCurrentPage = Model.CurrentPage == pageNumber;
                        var markAsSelected = isCurrentPage ? "moj-pagination__item--active" : "";

                        var ariaLabel = isCurrentPage ? $"Current page, page {pageNumber}" : $"Go to page {pageNumber}";

                        if (pagesToDisplay.Contains(pageNumber))
                        {
                            if (Model.HasPreviousPage && Model.PreviousPage == pageNumber && ((Model.PreviousPage - 1) > 1))
                            {
                                <li class="moj-pagination__item" aria-hidden="true">
                                    &ctdot;
                                </li>
                            }

                            <li class="moj-pagination__item @markAsSelected">
                                <a id="@pageNumber" asp-page="/Home/Index" asp-route-currentPage="@pageNumber" asp-route-Title="@Model.Filters.Title" class="moj-pagination__link" aria-label="@ariaLabel">@pageNumber</a>
                            </li>

                            if (Model.HasNextPage && Model.NextPage == pageNumber && ((Model.NextPage + 1) < Model.TotalPages))
                            {
                                <li class="moj-pagination__item" aria-hidden="true">
                                    &ctdot;
                                </li>
                            }
                        }
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="moj-pagination__item  moj-pagination__item--next">
                            <a class="moj-pagination__link" asp-page="/Home/Index" asp-route-currentPage="@Model.NextPage" asp-route-Title="@Model.Filters.Title">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>