@model ProjectTaskListViewModel

@{
    ViewBag.Title = Model.Project.OutgoingAcademyName;
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back to transfer projects</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-xl">URN @Model.Project.OutgoingAcademyUrn</span>
        <h1 class="govuk-heading-xl">
            @Model.Project.OutgoingAcademyName
        </h1>
        <h2 class="govuk-heading-l">
            Task list
        </h2>
        <p class="govuk-body">
            The task list will help you prepare for the Advisory Board meeting (formerly headteacher board). You can complete the tasks in any order.
        </p>
        <hr class="govuk-section-break govuk-section-break--m">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <ol class="moj-task-list">
            <li>
                <h2 class="moj-task-list__section">
                    Create project template
                </h2>
                <ul class="moj-task-list__items govuk-!-padding-left-0">
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="features" asp-controller="Features" asp-action="Index" asp-route-urn="@Model.Project.Urn" data-test="transfer-features">Features of a transfer</a>
                        </span><projectstatus id="features" status="@Model.FeatureTransferStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="dates" asp-controller="TransferDates" asp-action="Index" asp-route-urn="@Model.Project.Urn" data-test="transfer-dates">Set transfer dates</a>
                        </span><projectstatus id="dates" status="@Model.TransferDatesStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="benefits" asp-controller="Benefits" asp-action="Index" asp-route-urn="@Model.Project.Urn" data-test="transfer-benefits">Benefits and other factors</a>
                        </span><projectstatus id="benefits" status="@Model.BenefitsAndOtherFactorsStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="rationale" asp-controller="Rationale" asp-action="Index" asp-route-urn="@Model.Project.Urn" data-test="transfer-rationale">Rationale</a>
                        </span><projectstatus id="rationale" , status="@Model.RationaleStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="academyandtrustinformation" asp-controller="AcademyAndTrustInformation" asp-action="Index" asp-route-urn="@Model.Project.Urn" data-test="academy-trust-information">
                                Academy and trust information and project dates
                            </a>
                        </span><projectstatus id="academyandtrustinformation" , status="@Model.AcademyAndTrustInformationStatus()"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="general-information" asp-controller="GeneralInformation" asp-action="Index" asp-route-id="@Model.Project.Urn" data-test="general-information">
                                General information
                            </a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="general-information">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="pupil-numbers" asp-controller="PupilNumbers" asp-action="Index" asp-route-id="@Model.Project.Urn" data-test="pupil-numbers">Pupil numbers</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="pupil-numbers">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="ofsted-report" asp-controller="LatestOfstedJudgement" asp-action="Index" asp-route-id="@Model.Project.Urn" data-test="ofsted">Latest Ofsted report</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="ofsted-report">Reference only</strong>
                    </li>
                    @if (Model.HasKeyStage2PerformanceInformation)
                    {
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                                <a class="govuk-link" asp-page="/TaskList/KeyStage2Performance/KeyStage2Performance" asp-route-id="@Model.Project.Urn" aria-describedby="key-stage-2-performance-tables" data-test="ks2-performance">Key stage 2 performance tables</a>
                            </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-2-performance-tables">Reference only</strong>
                        </li>
                    }
                    @if (Model.HasKeyStage4PerformanceInformation)
                    {
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                                <a class="govuk-link" asp-page="/TaskList/KeyStage4Performance/KeyStage4Performance" asp-route-id="@Model.Project.Urn" aria-describedby="key-stage-4-performance-tables" data-test="ks4-performance">Key stage 4 performance tables</a>
                            </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-4-performance-tables">Reference only</strong>
                        </li>
                    }

                    @if (Model.HasKeyStage5PerformanceInformation)
                    {
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                                <a class="govuk-link" asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-id="@Model.Project.Urn" aria-describedby="key-stage-5-performance-tables" data-test="ks5-performance">Key stage 5 performance tables</a>
                            </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-5-performance-tables">Reference only</strong>
                        </li>
                    }
                </ul>
            </li>
        </ol>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Preview or generate project template
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-6">
            Preview your template before you generate it into a Word document. Or, you can generate the document without previewing it.
        </p>
        <div class="govuk-button-group">
            <form asp-page="@Links.HeadteacherBoard.Preview.PageName" asp-route-id="@Model.Project.Urn" method="get">
                <button class="govuk-button" data-module="govuk-button" data-test="preview-htb">Preview project template</button>
            </form>
            <form asp-controller="HeadteacherBoard" asp-action="Download" asp-route-id="@Model.Project.Urn" method="get">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-test="generate-htb">Generate project template</button>
            </form>
        </div>
    </div>
</div>