@model object

@{
    ViewBag.Title = ViewData["ProjectName"];
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back to dashboard</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-xl">@ViewData["ProjectName"]</span>
        <h1 class="govuk-heading-xl">
            @ViewData["OutgoingTrustName"]
        </h1>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Create HTB template</h2>
        <p class="govuk-body govuk-!-margin-bottom-5">This information in each section is pre-populated from TRAMS and the school’s application form.</p>
        <p class="govuk-body govuk-!-margin-bottom-5">You can make changes to the sections which will also populate into the HTB template.</p>

        <ol class="moj-task-list">
            <li>
                <h2 class="moj-task-list__section">
                    Create HTB template
                </h2>
                <ul class="moj-task-list__items govuk-!-padding-left-0">
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="features" asp-controller="Features" asp-action="Index" asp-route-urn="@ViewData["ProjectId"]">Features of a transfer</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="features">Not started</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="dates" asp-controller="TransferDates" asp-action="Index" asp-route-urn="@ViewData["ProjectId"]">Set transfer dates</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="dates">Not started</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="benefits" asp-controller="Benefits" asp-action="Index" asp-route-urn="@ViewData["ProjectId"]">Benefits and other factors</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="benefits">Not started</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="rationale" asp-controller="Rationale" asp-action="Index" asp-route-urn="@ViewData["ProjectId"]">Rationale</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="rationale">Not started</strong>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="moj-task-list__section">
                    Reference only
                </h2>
                <ul class="moj-task-list__items govuk-!-padding-left-0">
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="academy-performance" asp-controller="AcademyPerformance" asp-action="Index" asp-route-id="@ViewData["ProjectId"]">
                                Academy performance
                            </a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="academy-performance">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="pupil-numbers" asp-controller="PupilNumbers" asp-action="Index" asp-route-id="@ViewData["ProjectId"]">Pupil numbers</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="pupil-numbers">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="ofsted-report" asp-controller="LatestOfstedJudgement" asp-action="Index" asp-route-id="@ViewData["ProjectId"]">Latest Ofsted report</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="ofsted-report">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a href="#" aria-describedby="key-stage-performance-tables">Key stage performance tables</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-performance-tables">Reference only</strong>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="moj-task-list__section">
                    Trust/sponsor template
                </h2>
                <ul class="moj-task-list__items govuk-!-padding-left-0">
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            Trust template
                        </span>
                        <strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="trust-template">Cannot edit yet</strong>
                    </li>
                </ul>
            </li>
        </ol>
        <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" asp-controller="HeadteacherBoard" asp-action="Preview" asp-route-id="@ViewData["ProjectId"]">
            Preview HTB Template
        </a>
    </div>
</div>