@model ProjectTaskListViewModel

@{
    ViewBag.Title = $"Project {Model.Project.Urn}";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back to dashboard</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-xl">URN @Model.Project.OutgoingAcademyUrn</span>
        <h1 class="govuk-heading-xl">
            @Model.Project.OutgoingTrustName
        </h1>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Create HTB template</h2>
        <p class="govuk-body govuk-!-margin-bottom-5">This information in each section is pre-populated from TRAMS and the school’s application form.</p>
        <p class="govuk-body govuk-!-margin-bottom-5">You can make changes to the sections which will also populate into the HTB template.</p>

        <ol class="moj-task-list">
            <li>
                <h2 class="moj-task-list__section">
                    Create headteacher board (HTB) template
                </h2>
                <ul class="moj-task-list__items govuk-!-padding-left-0">
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="features" asp-controller="Features" asp-action="Index" asp-route-urn="@Model.Project.Urn">Features of a transfer</a>
                        </span><projectstatus id="features" status="@Model.FeatureTransferStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="dates" asp-controller="TransferDates" asp-action="Index" asp-route-urn="@Model.Project.Urn">Set transfer dates</a>
                        </span><projectstatus id="dates" status="@Model.TransferDatesStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="benefits" asp-controller="Benefits" asp-action="Index" asp-route-urn="@Model.Project.Urn">Benefits and other factors</a>
                        </span><projectstatus id="benefits" status="@Model.BenefitsAndOtherFactorsStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="rationale" asp-controller="Rationale" asp-action="Index" asp-route-urn="@Model.Project.Urn">Rationale</a>
                        </span><projectstatus id="rationale" , status="@Model.RationaleStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="general-information" href="#">Rationale</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="general-information">TO DO</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="academy-performance" asp-controller="AcademyPerformance" asp-action="Index" asp-route-id="@Model.Project.Urn">
                                Academy performance
                            </a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="academy-performance">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="pupil-numbers" asp-controller="PupilNumbers" asp-action="Index" asp-route-id="@Model.Project.Urn">Pupil numbers</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="pupil-numbers">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a aria-describedby="ofsted-report" asp-controller="LatestOfstedJudgement" asp-action="Index" asp-route-id="@Model.Project.Urn">Latest Ofsted report</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="ofsted-report">Reference only</strong>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a href="#" aria-describedby="key-stage-performance-tables">Key stage performance tables</a>
                        </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-performance-tables">Reference only</strong>
                    </li>
                </ul>
            </li>
        </ol>
        <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" asp-controller="HeadteacherBoard" asp-action="Preview" asp-route-id="@Model.Project.Urn">
            Preview HTB Template
        </a>
    </div>
</div>