@page "/project/{urn}/date-history"
@using Dfe.PrepareTransfers.Data.Models
@using Dfe.PrepareTransfers.Data.Models.AdvisoryBoardDecision
@using Dfe.PrepareTransfers.Data.TRAMS
@using Dfe.PrepareTransfers.Helpers
@using Dfe.PrepareTransfers.Web.ExtensionMethods
@model Dfe.PrepareTransfers.Web.Pages.TaskList.DateHistory.DateHistory

@{
    ViewBag.Title = "Transfer date history";
    Layout = "_Layout";
}

@section BeforeMain
{
}
<partial name="_IncomingTrustHeading" model="@Model.Project" />

<div class="govuk-grid-column-full">
    <partial name="_SubMenu" />
</div>
<div class="govuk-!-margin-bottom-12">
    

    @if ((Model.OpeningDateHistory == null || !Model.OpeningDateHistory.Any()) && Model.Project.Dates.Target is not null) 
    {
        <h2 class="govuk-heading-l govuk-!-margin-bottom-12 govuk-!-font-size-36">Current proposed transfer date</h2>
        <p class="govuk-body">The current proposed transfer date is <strong>@DatesHelper.DateStringToGovUkDate(Model.Project.Dates.Target)</strong>.</p>
    }
    else if ((Model.OpeningDateHistory == null || !Model.OpeningDateHistory.Any()) && Model.Project.Dates.Target is null)
    {        
        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Transfer date history</h2>
        <p class="govuk-body">The proposed transfer date has not been entered yet. When it has been it will be displayed here.</p>
        <p class="govuk-body">Any future changes to the proposed transfer date will also be shown here.</p>
    }
    else
    {
        <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Current proposed transfer date</h2>
        <p class="govuk-body">The current proposed transfer date is <strong>@Model.OpeningDateHistory.OrderByDescending(h => h.ChangedAt).FirstOrDefault()?.NewDate?.ToString("d MMMM yyyy")</strong>.</p>

        <h3 class="govuk-heading-m">Transfer date changes</h3>
        @foreach (var history in Model.OpeningDateHistory.OrderByDescending(h => h.ChangedAt))
        {
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Changed on @history.ChangedAt.ToString("dd MMMM yyyy h:mmtt")
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Changed by</dt>
                            <dd class="govuk-summary-list__value">@history.ChangedBy</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date changed to</dt>
                            <dd class="govuk-summary-list__value">@history.NewDate?.ToString("d MMMM yyyy")</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date changed from</dt>
                            <dd class="govuk-summary-list__value">@history.OldDate?.ToString("d MMMM yyyy")</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                                                                                    
                            <dt class="govuk-summary-list__key">Reason for new date</dt>
                            <dd class="govuk-summary-list__value">
                            @foreach (var reason in history.ReasonsChanged)
                            {                                
                                    <p class="govuk-body"><strong>@reason.Heading</strong></p>
                                    <p class="govuk-body">@reason.Details</p>                                
                            }
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        }
    }
</div>
