@using Helpers
@model ProjectPageModel
@{
    var transferDates = Model.Project.Dates;
}

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date when the transfer was first discussed with a trust
        </dt>
        <dd class="govuk-summary-list__value">
            <datesummary value="@transferDates.FirstDiscussed" has-date="@transferDates.HasFirstDiscussedDate"></datesummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-controller="TransferDates" asp-action="FirstDiscussed" 
               asp-route-urn="@Model.Project.Urn" asp-route-returnToPreview="true">
                Change<span class="govuk-visually-hidden"> date first discussed</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Set Advisory Board date
            </dt>
            @if (string.IsNullOrEmpty(transferDates.Htb))
            {
                <dd class="govuk-summary-list__value">
                    <span class="dfe-empty-tag">Empty</span>
                </dd>
            }
            else
            {
                <dd class="govuk-summary-list__value">
                    @{
                        var display = DatesHelper.DateStringToGovUkDate(transferDates.Htb);
                        @display
                    }
                </dd>
            }
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-controller="TransferDates" asp-action="HtbDate" 
                   asp-route-urn="@Model.Project.Urn" asp-route-returnToPreview="true">
                    Change<span class="govuk-visually-hidden"> Advisory Board date</span>
                </a>
            </dd>
        </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Target date for transfer
        </dt>
        @if (string.IsNullOrEmpty(transferDates.Target))
        {
            <dd class="govuk-summary-list__value">
                <span class="dfe-empty-tag">Empty</span>
            </dd>
        }
        else
        {
            <dd class="govuk-summary-list__value">
                @{
                    var display = DatesHelper.DateStringToGovUkDate(transferDates.Target);
                    @display
                }
            </dd>
        }
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-controller="TransferDates" asp-action="TargetDate" 
               asp-route-urn="@Model.Project.Urn" asp-route-returnToPreview="true">
                Change<span class="govuk-visually-hidden"> target date for transfer</span>
            </a>
        </dd>
    </div>
</dl>