@page "/project/{urn}/school-data/{academyUkprn}"
@model Frontend.Pages.TaskList.SchoolData

@{
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-page="/Projects/Index" asp-route-urn="@Model.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Project reference: @Model.ProjectReference</span>
        <h1 class="govuk-heading-xl">@Model.AcademyName</h1>
        <hr class="govuk-section-break govuk-section-break--m">
        <ol class="moj-task-list">
            <li>
                <h2 class="moj-task-list__section">
                    School characteristics
                </h2>
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link" aria-describedby="general-information" asp-page="/Projects/GeneralInformation/Index" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn" data-test="general-information">General information</a>
                    </li>
                    <li>
                        <a class="govuk-link" aria-describedby="pupil-numbers" asp-page="/Projects/PupilNumbers" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn" data-test="pupil-numbers">Pupil numbers</a>
                    </li>
                </ul>
                <h2 class="moj-task-list__section">
                    School performance
                </h2>
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link" aria-describedby="ofsted-report" asp-page="/Projects/LatestOfstedJudgement/Index" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn" data-test="ofsted">Latest Ofsted report </a>
                    </li>
                    @if (Model.HasKeyStage2PerformanceInformation)
                    {
                        <li>
                            <a class="govuk-link" asp-page="/TaskList/KeyStage2Performance/KeyStage2Performance" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn" aria-describedby="key-stage-2-performance-tables" data-test="ks2-performance">Key stage 2 performance tables</a>
                        </li>
                    }
                    @if (Model.HasKeyStage4PerformanceInformation)
                    {
                        <li>
                            <a class="govuk-link" asp-page="/TaskList/KeyStage4Performance/KeyStage4Performance" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn" aria-describedby="key-stage-4-performance-tables" data-test="ks4-performance">Key stage 4 performance tables</a>
                        </li>
                    }
                    @if (Model.HasKeyStage5PerformanceInformation)
                    {
                        <li>
                            <a class="govuk-link" asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn" aria-describedby="key-stage-5-performance-tables" data-test="ks5-performance">Key stage 5 performance tables</a>
                        </li>
                    }
                </ul>
            </li>
        </ol>
    </div>
</div>