@page "/project/{urn}/school-data/{acadmeyUkprn}"
@model Frontend.Pages.TaskList.SchoolData

@{
    Layout = "_Layout";
}
<h1 class="govuk-tag--red">Page To Develop</h1>
<span class="govuk-caption-l">Project reference: @Model.ProjectReference</span>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <ol class="moj-task-list">
            <li>
                <h3 class="moj-task-list__section">
                    School characteristics
                </h3>
                <ul class="moj-task-list__items govuk-!-padding-left-0 govuk-!-margin-bottom-6">
                    <li>
                        <a class="govuk-link" aria-describedby="general-information" asp-page="/Projects/GeneralInformation/Index" asp-route-urn="@Model.Urn" data-test="general-information">General information</a>
                    </li>
                    <li>
                        <a class="govuk-link" aria-describedby="pupil-numbers" asp-page="/Projects/PupilNumbers" asp-route-urn="@Model.Urn" data-test="pupil-numbers">Pupil numbers</a>
                    </li>
                </ul>
                <h3 class="moj-task-list__section">
                    School performance
                </h3>
                <ul class="moj-task-list__items govuk-!-padding-left-0 govuk-!-margin-bottom-6">
                    <li><a class="govuk-link" aria-describedby="ofsted-report" asp-page="/Projects/LatestOfstedJudgement/Index" asp-route-urn="@Model.Urn" data-test="ofsted">Latest Ofsted report </a></li>
                    <li><a class="govuk-link" asp-page="/TaskList/KeyStage2Performance/KeyStage2Performance" asp-route-id="@Model.Urn" aria-describedby="key-stage-2-performance-tables" data-test="ks2-performance">Key stage 2 performance tables</a></li>
                    <li><a class="govuk-link" asp-page="/TaskList/KeyStage4Performance/KeyStage4Performance" asp-route-id="@Model.Urn" aria-describedby="key-stage-4-performance-tables" data-test="ks4-performance">Key stage 4 performance tables</a></li>
                    <li><a class="govuk-link" asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-id="@Model.Urn" aria-describedby="key-stage-5-performance-tables" data-test="ks5-performance">Key stage 5 performance tables</a></li>
                </ul>
            </li>
        </ol>
    </div>
</div>


@* <li class="moj-task-list__item"> *@
@*                     <li class="moj-task-list__item"> *@
@*                         <span class="moj-task-list__task-name"> *@
@*                             <a class="govuk-link" aria-describedby="general-information" asp-page="/Projects/GeneralInformation/Index" asp-route-urn="@Model.Urn" data-test="general-information"> *@
@*                                 General information *@
@*                             </a> *@
@*                         </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="general-information" data-test="general-information-status">Reference only</strong> *@
@*                     </li> *@
@*                     <li class="moj-task-list__item"> *@
@*                         <span class="moj-task-list__task-name"> *@
@*                             <a class="govuk-link" aria-describedby="pupil-numbers" asp-page="/Projects/PupilNumbers" asp-route-urn="@Model.Urn" data-test="pupil-numbers"> *@
@*                                 Pupil numbers *@
@*                             </a> *@
@*                         </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="pupil-numbers" data-test="pupil-numbers-status">Reference only</strong> *@
@*                     </li> *@
@*                     <li class="moj-task-list__item"> *@
@*                         <span class="moj-task-list__task-name"> *@
@*                             <a class="govuk-link" aria-describedby="ofsted-report" asp-page="/Projects/LatestOfstedJudgement/Index" asp-route-urn="@Model.Urn" data-test="ofsted"> *@
@*                                 Latest Ofsted report *@
@*                             </a> *@
@*                         </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="ofsted-report" data-test="ofsted-report">Reference only</strong> *@
@*                     </li> *@
@*                     @if (Model.HasKeyStage2PerformanceInformation) *@
@*                     { *@
@*                         <li class="moj-task-list__item"> *@
@*                             <span class="moj-task-list__task-name"> *@
@*                                 <a class="govuk-link" asp-page="/TaskList/KeyStage2Performance/KeyStage2Performance" asp-route-id="@Model.Urn" aria-describedby="key-stage-2-performance-tables" data-test="ks2-performance">Key stage 2 performance tables</a> *@
@*                             </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-2-performance-tables" data-test="key-stage-2-performance-tables">Reference only</strong> *@
@*                         </li> *@
@*                     } *@
@*                     @if (Model.HasKeyStage4PerformanceInformation) *@
@*                     { *@
@*                         <li class="moj-task-list__item"> *@
@*                             <span class="moj-task-list__task-name"> *@
@*                                 <a class="govuk-link" asp-page="/TaskList/KeyStage4Performance/KeyStage4Performance" asp-route-id="@Model.Urn" aria-describedby="key-stage-4-performance-tables" data-test="ks4-performance">Key stage 4 performance tables</a> *@
@*                             </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-4-performance-tables" data-test="key-stage-4-performance-tables">Reference only</strong> *@
@*                         </li> *@
@*                     } *@
@* *@
@*                     @if (Model.HasKeyStage5PerformanceInformation) *@
@*                     { *@
@*                         <li class="moj-task-list__item"> *@
@*                             <span class="moj-task-list__task-name"> *@
@*                                 <a class="govuk-link" asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-id="@Model.Urn" aria-describedby="key-stage-5-performance-tables" data-test="ks5-performance">Key stage 5 performance tables</a> *@
@*                             </span><strong class="govuk-tag govuk-tag--grey moj-task-list__tag" id="key-stage-5-performance-tables" data-test="key-stage-5-performance-tables">Reference only</strong> *@
@*                         </li> *@
@*                     } *@