@model BenefitsViewModel

@{
    ViewBag.Title = "Benefits and other factors";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-m">
            URN @Model.Project.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Benefits and other factors
        </h1>
        <h2 class="govuk-heading-m">
            Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">@Model.Project.OutgoingTrustName</span>
        </h2>
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What are the benefits the transfer intended to bring?
                </dt>
                @if (Model.Project.Benefits.IntendedBenefits.Count == 0)
                {
                    <dd class="govuk-summary-list__value">
                        <span class="dfe-empty-tag">Empty</span>
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__value">
                        @foreach (var benefit in Model.IntendedBenefitsSummary())
                        {
                            <p class="govuk-body">
                                @benefit
                            </p>
                        }
                    </dd>
                }
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="IntendedBenefits" asp-route-urn="@Model.Project.Urn">
                        Change<span class="govuk-visually-hidden">intended benefits</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Are there any other factors to consider during this transfer?
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.Project.Benefits.OtherFactors.Keys.Count == 0)
                    {
                        <span class="dfe-empty-tag">Empty</span>
                    }
                    else
                    {
                        foreach (var otherFactor in Model.OtherFactorsSummary())
                        {
                            <p class="govuk-body">
                                @otherFactor[0]
                                @if (!string.IsNullOrEmpty(otherFactor[1]))
                                {
                                    <span>: @otherFactor[1]</span>
                                }
                            </p>
                        }
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="OtherFactors" asp-route-urn="@Model.Project.Urn">
                        Change<span class="govuk-visually-hidden">other factors to consider</span>
                    </a>
                </dd>
            </div>
        </dl>
        <a class="govuk-button" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Urn">Confirm and continue</a>
    </div>
</div>