@using Data.Models.Projects
@using Helpers
@model BenefitsViewModel

@{
    ViewBag.Title = "Other factors";
    Layout = "_Layout";
    var formClasses = Model.FormErrors.FormClassesForField("otherFactors");
}

@section BeforeMain
{
    <backtopreview id="@Model.Project.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-action="Index" asp-route-urn="@Model.Project.Urn">Back</a>
    </backtopreview>
}

@await Html.PartialAsync("_FormErrorSummary", Model.FormErrors)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="OtherFactors" method="post" novalidate="">
            <input type="text" name="returnToPreview" value="@Model.ReturnToPreview.ToString()" hidden />
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">
                                @Model.Project.OutgoingAcademyName
                            </span>
                        </h1>
                        <h1 class="govuk-heading-l">
                            Are there any other factors to consider during this transfer?
                        </h1>
                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                        Select all that apply.
                    </div>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @for (var i = 0; i < Model.OtherFactorsVm.Count; i++)
                        {
                            <div class="govuk-checkboxes__item">
                                <input asp-for="@Model.OtherFactorsVm[i].Checked" class="govuk-checkboxes__input" aria-controls="conditional-@Model.OtherFactorsVm[i].OtherFactor" aria-expanded="false">
                                <label id="@Model.OtherFactorsVm[i].OtherFactor" class="govuk-label govuk-checkboxes__label" for="@Model.OtherFactorsVm[i].OtherFactor">
                                    @{
                                        var displayName = EnumHelpers<TransferBenefits.OtherFactor>.GetDisplayValue(@Model.OtherFactorsVm[i].OtherFactor);
                                        @displayName
                                    }
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-@Model.OtherFactorsVm[i].OtherFactor.ToString()">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" asp-for="@(Model.OtherFactorsVm[i].Description)">
                                        Specify this concern further
                                    </label>
                                    @if (Model.FormErrors.HasErrorForField(Model.OtherFactorsVm[i].OtherFactor.ToString()))
                                    {
                                        <span id="other-factors-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> @Model.FormErrors.ErrorForField(Model.OtherFactorsVm[i].OtherFactor.ToString()).ErrorMessage
                                        </span>
                                    }
                                    <input asp-for="@Model.OtherFactorsVm[i].Description" class="govuk-input govuk-!-width-two-thirds" type="text" spellcheck="false" value="@Model.OtherFactorsVm[i].Description">
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.OtherFactorsVm[i].OtherFactor)
                        }
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Useful information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            View full application
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            School information on TRAMS
                        </a>
                    </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </ul>
            </nav>
            <h2 class="govuk-heading-s" id="subsection-title">
                Guidance
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            Guidance for setting an HTB date
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            Full Guidance
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>