@using Data.Models
@using Data.Models.Projects
@using Frontend.Helpers
@model BenefitsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var otherFactors = Model.Project.Benefits.OtherFactors;

    var highProfileChecked = otherFactors.ContainsKey(TransferBenefits.OtherFactor.HighProfile);
    var highProfile = new[]
    {
        TransferBenefits.OtherFactor.HighProfile.ToString(),
        EnumHelpers<TransferBenefits.OtherFactor>.GetDisplayValue(TransferBenefits.OtherFactor.HighProfile),
        highProfileChecked ? otherFactors[TransferBenefits.OtherFactor.HighProfile] : ""
    };

    var complexIssuesChecked = otherFactors.ContainsKey(TransferBenefits.OtherFactor.ComplexLandAndBuildingIssues);
    var complexIssues = new[]
    {
        TransferBenefits.OtherFactor.ComplexLandAndBuildingIssues.ToString(),
        EnumHelpers<TransferBenefits.OtherFactor>.GetDisplayValue(TransferBenefits.OtherFactor.ComplexLandAndBuildingIssues),
        complexIssuesChecked ? otherFactors[TransferBenefits.OtherFactor.ComplexLandAndBuildingIssues] : ""
    };

    var financeConcernsChecked = otherFactors.ContainsKey(TransferBenefits.OtherFactor.FinanceAndDebtConcerns);
    var finance = new[]
    {
        TransferBenefits.OtherFactor.FinanceAndDebtConcerns.ToString(),
        EnumHelpers<TransferBenefits.OtherFactor>.GetDisplayValue(TransferBenefits.OtherFactor.FinanceAndDebtConcerns),
        financeConcernsChecked ? otherFactors[TransferBenefits.OtherFactor.FinanceAndDebtConcerns] : ""
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="OtherFactors" method="post" novalidate="">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-m">
                                Reference number: @Model.Project.Name
                            </span>
                        </h1>
                        <h1 class="govuk-heading-l">
                            Are there any other factors to consider during this transfer?
                        </h1>
                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                        Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="@highProfile[0]" name="otherFactors" type="checkbox" value="@highProfile[0]" aria-controls="conditional-@highProfile[0]" aria-expanded="false" checked="@highProfileChecked">
                            <label class="govuk-label govuk-checkboxes__label" for="@highProfile[0]">
                                @highProfile[1]
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-@highProfile[0]">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="highProfileDescription">
                                    Specify this concern further
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="highProfileDescription" name="highProfileDescription" type="text" spellcheck="false" value="@highProfile[2]">
                            </div>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="@complexIssues[0]" name="otherFactors" type="checkbox" value="@complexIssues[0]" aria-controls="conditional-@complexIssues[0]" aria-expanded="false" checked="@complexIssuesChecked">
                            <label class="govuk-label govuk-checkboxes__label" for="@complexIssues[0]">
                                @complexIssues[1]
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-@complexIssues[0]">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="complexIssuesDescription">
                                    Specify this concern further
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="complexIssuesDescription" name="complexIssuesDescription" type="text" spellcheck="false" value="@complexIssues[2]">
                            </div>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="@finance[0]" name="otherFactors" type="checkbox" value="@finance[0]" aria-controls="conditional-@finance[0]" aria-expanded="false" checked="@financeConcernsChecked">
                            <label class="govuk-label govuk-checkboxes__label" for="@finance[0]">
                                @finance[1]
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-@finance[0]">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="financeAndDebtDescription">
                                    Specify this concern further
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="financeAndDebtDescription" name="financeAndDebtDescription" type="text" spellcheck="false" value="@finance[2]">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Useful information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            View full application
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            School information on TRAMS
                        </a>
                    </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </ul>
            </nav>
            <h2 class="govuk-heading-s" id="subsection-title">
                Guidance
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            Guidance for setting an HTB date
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            Full Guidance
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>