@page "/project/{urn}"
@model Frontend.Pages.Projects.Index

@{
    ViewBag.Title = Model.IncomingTrustName;
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-page="/Home/Index">Back to transfer projects</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Project reference: @Model.ProjectReference</span>
        <h1 class="govuk-heading-xl">
            @Model.IncomingTrustName
        </h1>
        <h2 class="govuk-heading-l">
            Create a project template
        </h2>
        <p class="govuk-body">
            By completing the following sections, you can create a project template that will help you prepare for an advisory board meeting.
        </p>
        <p class="govuk-body">You can complete them in any order.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <ol class="moj-task-list">
            <li>
                <h3 class="moj-task-list__section">
                    Transfer details
                </h3>
                <ul class="moj-task-list__items govuk-!-padding-left-0 govuk-!-margin-bottom-6">
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="features" asp-page="/Projects/Features/Index" asp-route-urn="@Model.Urn" data-test="transfer-features">Features of the transfer</a>
                        </span><projectstatus id="features" status="@Model.FeatureTransferStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="dates" asp-page="/Projects/TransferDates/Index" asp-route-urn="@Model.Urn" data-test="transfer-dates">Transfer dates</a>
                        </span><projectstatus id="dates" status="@Model.TransferDatesStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="benefits" asp-page="/Projects/BenefitsAndRisks/Index" asp-route-urn="@Model.Urn" data-test="transfer-benefits">Benefits and risks</a>
                        </span><projectstatus id="benefits" status="@Model.BenefitsAndOtherFactorsStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="rationale" asp-page="/Projects/Rationale/Index" asp-route-urn="@Model.Urn" data-test="transfer-rationale">Rationale</a>
                        </span><projectstatus id="rationale" status="@Model.RationaleStatus"></projectstatus>
                    </li>
                    <li class="moj-task-list__item">
                        <span class="moj-task-list__task-name">
                            <a class="govuk-link" aria-describedby="academyandtrustinformation" asp-page="/Projects/AcademyAndTrustInformation/Index" asp-route-urn="@Model.Urn" data-test="academy-trust-information">
                                Trust information and project dates
                            </a>
                        </span><projectstatus id="academyandtrustinformation" , status="@Model.AcademyAndTrustInformationStatus"></projectstatus>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="moj-task-list__section">
                    School data
                </h3>
                <ul class="govuk-list govuk-list--spaced">
                    @for (int i = 0; i < Model.Academies.Count; i++)
                    {
                        <li><a data-test="sd-academy-@(i+1)" class="govuk-link" asp-page="/TaskList/SchoolData" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.Academies[i].Item1">@Model.Academies[i].Item2</a></li>
                    }
                </ul>
            </li>
        </ol>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--m">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            Preview or generate project template
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-6">
            Download the template as a Word document or preview its contents.
        </p>
        <div class="govuk-button-group">
            <form asp-page="@Links.HeadteacherBoard.Preview.PageName" asp-route-urn="@Model.Urn" method="get">
                <button class="govuk-button" data-module="govuk-button" data-test="preview-htb">Preview project template</button>
            </form>
            <form asp-page="/TaskList/HtbDocument/Download" asp-route-urn="@Model.Urn" method="get">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-test="generate-htb" data-google-analytics-project-generate>Generate project template</button>
            </form>

        </div>
    </div>
</div>

<script src="~/dist/google-analytics-events.bundle.js" asp-add-nonce></script>