@page "/project/{urn}/pupil-number/{academyUkprn}"
@model Frontend.Pages.Projects.PupilNumbers

@{
    ViewBag.Title = "Pupil numbers (reference)";
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview id="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/TaskList/SchoolData" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn">Back</a>
    </backtopreview>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            Academy: @Model.AcademyName
        </span>
        <h1 class="govuk-heading-l">Pupil numbers</h1>
        <div class="govuk-inset-text">
            The information here can’t be changed but you will be able to edit the project template after it’s been created.
        </div>
        <p class="govuk-body">This information is taken from TRAMS</p>
    </div>
    <div class="govuk-grid-column-full">
        <partial name="_PupilNumbers" for="@Model"/>
    </div>
    <partial name="_AdditionalInformation" model="Model.AdditionalInformationViewModel"/>
</div>
@if (!Model.AdditionalInformationViewModel.AddOrEditAdditionalInformation)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
             <form asp-page="/TaskList/SchoolData" asp-route-urn="@Model.Urn" asp-route-academyukprn="@Model.AcademyUkprn" method="get">
                <button class="govuk-button" data-module="govuk-button">
                    Confirm and continue
                </button>
            </form>
        </div>
    </div>
}