@model FeaturesViewModel    

@{
    ViewBag.Title = Model.FormErrors.ProcessPageTitleIfThereIsAnError("Who initiated the academy transfer?");
    Layout = "_Layout";
    var formClasses = Model.FormErrors.HasErrors ? "govuk-form-group--error" : "";
    var radioButtons = FeaturesViewModel.InitiatedRadioButtons(Model.Project.Features.WhoInitiatedTheTransfer);
}

@section BeforeMain
{
    <backtopreview id="@Model.Project.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-action="Index" asp-route-urn="@Model.Project.Urn">Back</a>
    </backtopreview>
}

@await Html.PartialAsync("_FormErrorSummary", Model.FormErrors)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Initiated" method="post" novalidate="">
            <input type="text" name="returnToPreview" value="@Model.ReturnToPreview.ToString()" hidden />
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">
                                @Model.Project.OutgoingAcademyName
                            </span>
                            Who initiated the academy transfer?
                        </h1>
                    </legend>
                    @if (Model.FormErrors.HasErrorForField("whoInitiated"))
                    {
                        <span id="who-initiated-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.FormErrors.ErrorForField("whoInitiated").ErrorMessage
                        </span>
                    }

                    @await Html.PartialAsync("_RadioButtons", radioButtons)
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>