@using Microsoft.AspNetCore.Mvc.ModelBinding
@model FeaturesInitiatedViewModel

@{
    ViewBag.Title = !ViewData.ModelState.IsValid ? "Error: Who initiated the academy transfer?" : "Who initiated the academy transfer?";
    Layout = "_Layout";
    var formClasses = !ViewData.ModelState.IsValid ? "govuk-form-group--error" : "";
    var radioButtons = FeaturesViewModel.InitiatedRadioButtons(Model.Project.Features.WhoInitiatedTheTransfer);
}

@section BeforeMain
{
<backtopreview id="@Model.Project.Urn" return-to-preview="@Model.ReturnToPreview">
    <a class="govuk-back-link" asp-action="Index" asp-route-urn="@Model.Project.Urn">Back</a>
</backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Initiated" method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Project.Urn" />
            <input type="hidden" asp-for="@Model.ReturnToPreview" />
            <input asp-for="Project.TransferringAcademies[0].OutgoingAcademyName" type="hidden" value="@Model.Project.TransferringAcademies[0].OutgoingAcademyName"/>
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">
                                @Model.Project.OutgoingAcademyName
                            </span>
                            Who initiated the academy transfer?
                        </h1>
                    </legend>
                    @if (ViewData.ModelState.GetFieldValidationState(nameof(Model.WhoInitiated)) == ModelValidationState.Invalid)
                    {
                        <span id="who-initiated-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>@Html.ValidationMessageFor(m => m.WhoInitiated)
                        </span>
                    }

                    @await Html.PartialAsync("_RadioButtons", radioButtons)
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>