@model Frontend.Models.FeaturesViewModel

@{
    ViewBag.Title = Model.FormErrors.ProcessPageTitleIfThereIsAnError("Reason for transfer");
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview id="@Model.Project.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-action="Index" asp-route-urn="@Model.Project.Urn">Back</a>
    </backtopreview>
}

@await Html.PartialAsync("_FormErrorSummary", Model.FormErrors)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            @Model.Project.OutgoingAcademyName
        </span>
        <h1 class="govuk-heading-l">
            Reason for transfer
        </h1>
        <form asp-action="Reason" method="post" novalidate="">
            <input type="text" name="returnToPreview" value="@Model.ReturnToPreview.ToString()" hidden />
            <div class="govuk-form-group @Model.FormErrors.FormClassesForField("isSubjectToIntervention")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Has this transfer started because of an intervention with the academy or trust?
                    </legend>

                    @if (Model.FormErrors.HasErrorForField("isSubjectToIntervention"))
                    {
                        <span id="who-initiated-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.FormErrors.ErrorForField("isSubjectToIntervention").ErrorMessage
                        </span>
                    }

                    @await Html.PartialAsync("_InlineRadioButtons", Model.ReasonRadioButtons())
                </fieldset>
            </div>
            <details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help with intervention transfers
                    </span>
                </summary>
                <div class="govuk-details__text">
                    If Regional Delivery Directorate (RDD), Regional Schools Commissioner 
                    (RSC) or Education and Skills Funding Agency (ESFA) have intervened.
                    For example, after an inadequate Ofsted judgement.
                </div>
            </details>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="moreDetail">
                        Can you provide more detail? (optional)
                    </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                    Give more information about the intention and reasons for RDD, RSC or ESFA intervention if neccessary.
                </div>
                <textarea class="govuk-textarea" id="moreDetail" name="moreDetail" rows="6" aria-describedby="more-detail-hint">@Model.Project.Features.ReasonForTransfer.InterventionDetails</textarea>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Useful information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            View full application
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            School information on TRAMS
                        </a>
                    </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </ul>
            </nav>
            <h2 class="govuk-heading-s" id="subsection-title">
                Guidance
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            Guidance for setting an Advisory Board date
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            Full Guidance
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>