@page "/cookie-preferences"
@model Frontend.Pages.CookiePreferencesModel

@{
	ViewBag.Title = "Cookie preferences";
	Layout = "_Layout";
}

@if (Model.PreferencesSet)
{
	<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
		<div class="govuk-notification-banner__header">
			<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				Success
			</h2>
		</div>
		<div class="govuk-notification-banner__content">
			<p class="govuk-notification-banner__heading">
				You’ve set your cookie preferences. <a class="govuk-notification-banner__link" data-test="success-banner-return-link" href="@Model.returnPath">Go back to the page you were looking at</a>.
			</p>
		</div>
	</div>
}

<h1 class="govuk-heading-xl" xmlns="http://www.w3.org/1999/html">Cookie preferences</h1>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<p class="govuk-body">
			Cookies are small files saved on your phone, tablet or computer when you visit a website.
		</p>
		<p class="govuk-body">
			We use cookies to make this site work and to collect information about how you use our service.
		</p>

		<p class="govuk-body">
			With your permission, we use Google Analytics to collect data about how you use <a asp-page="@Links.ProjectList.Index.PageName">the transfers part of our Prepare conversions and transfers service.</a> 
			This information helps us improve our service.
			These cookies do not collect your name or address, they do collect a unique user identifier
			code, which is linked to your device.
		</p>

		<p class="govuk-body">Google Analytics stores information about:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>the pages you visit on the transfers part of Prepare conversions and transfers</li>
			<li>how long you spend on each page</li>
			<li>what you click on while you’re visiting the site</li>
		</ul>
		<p class="govuk-body">Google is not allowed to share our analytics data with anyone.</p>
		<form method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h3 class="govuk-fieldset__heading">
							Do you accept Google Analytics cookies?
						</h3>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="cookie-consent-accept" name="consent" type="radio" value="true" checked="@Model.Consent">
							<label class="govuk-label govuk-radios__label" for="cookie-consent-accept">
								Yes, opt in to Google Analytics cookies
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="cookie-consent-deny" name="consent" type="radio" value="false" checked="@(Model.Consent == false)">
							<label class="govuk-label govuk-radios__label" for="cookie-consent-deny">
								No, do not track my website usage
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<input type="submit" name="commit" value="Save changes" class="govuk-button" data-qa="submit" data-module="govuk-button" data-disable-with="Save changes">
		</form>
		<h2 class="govuk-heading-l">How we use cookies</h2>
		<h3 class="govuk-heading-m">Essential cookies</h3>
		<p class="govuk-body">
			Essential cookies keep your information secure while you use this service. We do not need
			to ask permission to use them
		</p>
		<p class="govuk-body">Here are the essential cookies for <a asp-page="@Links.ProjectList.Index.PageName">the transfers part of Prepare conversions and transfers:</a></p>
		<table class="govuk-table">
			<thead class="govuk-table__header">
				<tr>
					<th class="govuk-table__header">Name</th>
					<th class="govuk-table__header">Purpose</th>
					<th class="govuk-table__header">Expires</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr>
					<td class="govuk-table__cell">.ManageAnAcademyTransfer.Consent</td>
					<td class="govuk-table__cell">Saves your cookie consent settings</td>
					<td class="govuk-table__cell">6 months</td>
				</tr>
				<tr>
					<td class="govuk-table__cell">.ManageAnAcademyTransfer.Login</td>
					<td class="govuk-table__cell">Stores login data</td>
					<td class="govuk-table__cell">1 hour</td>
				</tr>
				<tr>
					<td class="govuk-table__cell">.ManageAnAcademyTransfer.Session</td>
					<td class="govuk-table__cell">Remembers user input</td>
					<td class="govuk-table__cell">1 hour</td>
				</tr>
				<tr>
					<td class="govuk-table__cell">.AspNetCore.Antiforgery.9TtSrW0hzOs</td>
					<td class="govuk-table__cell">Prevents forgery</td>
					<td class="govuk-table__cell">1 hour</td>
				</tr>
			</tbody>
		</table>
		<h3 class="govuk-heading-m">Measuring website usage (Google Analytics)</h3>
		<p class="govuk-body">Google Analytics sets the following cookies:</p>
		<table class="govuk-table">
			<thead class="govuk-table__header">
				<tr>
					<th class="govuk-table__header">Name</th>
					<th class="govuk-table__header">Purpose</th>
					<th class="govuk-table__header">Expires</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr>
					<td class="govuk-table__cell">_ga</td>
					<td class="govuk-table__cell">Distinguishes anonymous users </td>
					<td class="govuk-table__cell">2 years</td>
				</tr>
				<tr>
					<td class="govuk-table__cell">_gid</td>
					<td class="govuk-table__cell">Distinguishes anonymous users </td>
					<td class="govuk-table__cell">1 day</td>
				</tr>
				<tr>
					<td class="govuk-table__cell">_ga_CN463W8GWG</td>
					<td class="govuk-table__cell">Distinguishes anonymous users </td>
					<td class="govuk-table__cell">2 years</td>
				</tr>
				<tr>
					<td class="govuk-table__cell">_gat_UA-191561882-2</td>
					<td class="govuk-table__cell">Distinguishes anonymous users </td>
					<td class="govuk-table__cell">1 minute</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>