@page "/project/{id}/key-stage-2-performance"
@model Frontend.Pages.KeyStage2Performance

@{
    ViewBag.Title = "Key stage 2 performance tables";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.ProjectUrn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Key stage 2 performance tables
        </h1>
        <p class="govuk-body">
            This information is pre-populated from TRAMS.
        </p>
        <p class="govuk-body">
            <a href="https://www.compare-school-performance.service.gov.uk/school/@Model.OutgoingAcademyUrn" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
        @foreach (var ks2Result in Model.EducationPerformance.KeyStage2Performance.OrderByDescending(o => o.Year))
        {
            <table class="govuk-table govuk-!-margin-bottom-9">
                <caption class="govuk-table__caption govuk-table__caption--m">@ks2Result.Year key stage 2</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header">
                        Percentage meeting expected standard in reading, writing
                        and maths
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Percentage achieving a higher standard in reading,
                        writing and maths
                    </th>
                    <th scope="col" class="govuk-table__header">Reading progress scores</th>
                    <th scope="col" class="govuk-table__header">Writing progress scores</th>
                    <th scope="col" class="govuk-table__header">Maths progress scores</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Model.OutgoingAcademyName</th>
                    <td class="govuk-table__cell">@ks2Result.PercentageMeetingExpectedStdInRWM.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.PercentageAchievingHigherStdInRWM.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.ReadingProgressScore.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.WritingProgressScore.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.MathsProgressScore.NotDisadvantaged</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName LA average</th>
                    <td class="govuk-table__cell">@ks2Result.LAAveragePercentageMeetingExpectedStdInRWM.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.LAAveragePercentageAchievingHigherStdInRWM.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.LAAverageReadingProgressScore.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.LAAverageWritingProgressScore.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.LAAverageMathsProgressScore.NotDisadvantaged</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National average</th>
                    <td class="govuk-table__cell">@ks2Result.NationalAveragePercentageMeetingExpectedStdInRWM.NotDisadvantaged<br>(disadvantaged @ks2Result.NationalAveragePercentageMeetingExpectedStdInRWM.Disadvantaged)</td>
                    <td class="govuk-table__cell">@ks2Result.NationalAveragePercentageAchievingHigherStdInRWM.NotDisadvantaged<br>(disadvantaged @ks2Result.NationalAveragePercentageAchievingHigherStdInRWM.Disadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.NationalAverageReadingProgressScore.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.NationalAverageWritingProgressScore.NotDisadvantaged</td>
                    <td class="govuk-table__cell">@ks2Result.NationalAverageMathsProgressScore.NotDisadvantaged</td>
                </tr>
                </tbody>
            </table>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <partial name="_AdditionalInformation" model="Model.AdditionalInformation" />
</div>