@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    @{
        var analyticsConsent = Context.Request.Cookies.ContainsKey(".ManageAnAcademyTransfer.Consent")
                           && bool.Parse(Context.Request.Cookies[".ManageAnAcademyTransfer.Consent"]);

        var showAnalytics = analyticsConsent;

        var pageTitleSuffix = Context.Request.Path == "/project-type"
            ? string.Empty : "- Manage an academy transfer";
        var pageTitle = ViewData["Title"] == null ? "" : $"{ViewData["Title"]} {pageTitleSuffix}";
    }

    <title>@pageTitle</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="~/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="~/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="~/dist/accessible-autocomplete.min.css" />
    <link rel="stylesheet" href="~/dist/site.css"/>

    <meta property="og:image" content="~/assets/images/govuk-opengraph-image.png">

    @if (showAnalytics)
    {
        <!-- <environment include="production"> -->
        <!-- Google Tag Manager -->
        <script asp-add-nonce>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-T43KJ2P');</script>
        <!-- End Google Tag Manager -->
        <!-- </environment> -->
    }

    @if (analyticsConsent)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript asp-add-nonce>
            <iframe src=https://www.googletagmanager.com/ns.html?id=GTM-5H6G773 height="0" width="0" style="display:none;visibility:hidden" title="analytics"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }

    <script type="text/javascript" src="~/dist/accessible-autocomplete.min.js" asp-add-nonce></script>
</head>

<body class="govuk-template__body ">
<!-- <environment include="production"> -->
<!-- Google Tag Manager (noscript) -->
<noscript asp-add-nonce>
    <iframe src=https://www.googletagmanager.com/ns.html?id=GTM-T43KJ2P
            class="not-visible" height="0" width="0" title="analytics">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- </environment> -->
<script asp-add-nonce>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

<partial name="_CookieBanner" />

<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo govuk-!-width-two-thirds">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype-text">
                    Prepare conversions and transfers
                </span>
            </a>
        </div>
    </div>
</header>

<div class="govuk-width-container ">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a rel="noopener" class="govuk-link" target="_blank" href="@_configuration["BetaFeedbackLink"]">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
    @await RenderSectionAsync("BeforeMain", false)
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <partial name="_Notification" />
        @RenderBody()
    </main>
</div>

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__navigation">
            <div class="govuk-footer__section govuk-grid-column-one-half" data-cy="get-support-section">
                <h2 class="govuk-footer__heading govuk-heading-m">Get support</h2>
                <ul class="govuk-footer__list">
                    <li class="govuk-footer__list-item govuk-!-margin-bottom-1">
                     Email: <a class="govuk-link govuk-footer__link" data-cy="get-support-email" href="mailto:@_configuration["SupportEmail"]?subject=Prepare%20conversions%20and%20transfers:%20support%20query">@_configuration["SupportEmail"]</a>
                    </li>
                </ul>
            </div>
      <div class="govuk-footer__section govuk-grid-column-one-half">
        <h2 class="govuk-footer__heading govuk-heading-m">Give feedback</h2>
        <ul class="govuk-footer__list " data-cy="footer-feedback-link">
          <li class="govuk-footer__list-item">
            <a rel="noopener" class="govuk-footer__link" target="_blank" href="@_configuration["BetaFeedbackLink"]">
                Give feedback on Prepare conversions and transfers (opens in a new tab)
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="govuk-footer__section-break">
    <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" asp-page="/AccessibilityStatement">
                            Accessibility statement
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" asp-page="@Links.Global.CookiePreferences.PageName"
                               data-test="cookie-preferences" asp-route-returnUrl="@Context.Request.Path">
                                Cookies
                            </a>
                     </li>
                </ul>
                <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"/>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>

<script src="~/dist/main.bundle.js" asp-add-nonce></script>
</body>
</html>
