@page "/project/{urn}/academy-and-trust-information/recommendation"
@model Frontend.Pages.Projects.AcademyAndTrustInformation.Recommendation

@{
    ViewBag.Title = "Recommendation";
    Layout = "_Layout";
    var radioButtons = Frontend.Pages.Projects.AcademyAndTrustInformation.Recommendation.RecommendedRadioButtons(Model.RecommendationResult);
}

@section BeforeMain
{
    <backtopreview return-to-preview="@Model.ReturnToPreview" id="@Model.Urn">
        <a class="govuk-back-link" asp-page="/Projects/AcademyAndTrustInformation/Index" asp-route-urn="@Model.Urn" >Back</a>
    </backtopreview>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            @Model.IncomingTrustName
        </span>
        <h1 class="govuk-heading-l">
            Recommendation
        </h1>
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Urn"/>
            <input type="hidden" asp-for="@Model.ReturnToPreview"/>
            <input type="hidden" asp-for="@Model.IncomingTrustName"/>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        What is the recommendation for this project?
                    </legend>
                    @await Html.PartialAsync("_RadioButtons", radioButtons)
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="author">
                    Enter the full name of the author of this project template
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="author" name="author" type="text" value="@Model.Author">
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>