@page "/project/{id}/key-stage-4-performance"
@model Frontend.Pages.TaskList.KeyStage4Performance.KeyStage4Performance
@{
    ViewBag.Title = "Key stage 4 performance tables";
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview id="@Model.ProjectUrn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/Index" asp-route-urn="@Model.ProjectUrn">Back to task list</a>
    </backtopreview>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Key stage 4 performance tables
        </h1>
        <div class="govuk-inset-text">
            The information here can’t be changed but you will be able to edit the project template after it’s been created.
        </div>
        <p class="govuk-body">
            This information is taken from the Find and compare schools in England service.
        </p>
        <p class="govuk-body">
            <a href="https://www.compare-school-performance.service.gov.uk/school/@Model.OutgoingAcademyUrn" class="govuk-link" rel="noreferrer noopener" target="_blank">View the school's performance data on Find and compare schools in England (opens in new tab)</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>

<partial name="TaskList/KeyStage4Performance/KeyStage4PerformanceTables" model="@Model"/>

<div class="govuk-grid-row">
    <partial name="_AdditionalInformation" model="Model.AdditionalInformation"/>
</div>
@if (!Model.AdditionalInformation.AddOrEditAdditionalInformation)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form asp-page="/Projects/Index" asp-route-urn="@Model.ProjectUrn">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Confirm and continue
                </button>
            </form>
        </div>
    </div>
}