@page "/project/{urn}/key-stage-5-performance/{academyUkprn}"
@model Dfe.PrepareTransfers.Web.Pages.TaskList.KeyStage5Performance.KeyStage5Performance

@{
    ViewBag.Title = "Key stage 5 performance tables";
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview return-to-preview="@Model.ReturnToPreview" urn="@Model.Urn">
          <a class="govuk-back-link" asp-page="/TaskList/SchoolData" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn">Back</a>
    </backtopreview>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            Academy: @Model.AcademyName
        </span>
        <h1 class="govuk-heading-l">
            Key stage 5 performance tables
        </h1>
        <p class="govuk-body">
            This information comes from Find and compare schools in England. You can add <a class="govuk-link" href="#additional-information">additional information</a> if you need to. These performance tables and additional information will go into your project template.
        </p>
		<p class="govuk-body">
			<a href="https://www.compare-school-performance.service.gov.uk/school/@Model.OutgoingAcademyUrn" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
		</p>
		<div class="govuk-inset-text">
			There is no 2019 to 2020 key stage data because of the pandemic. 2020 to 2021 data is limited.
		</div>
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>

<partial name="TaskList/KeyStage5Performance/KeyStage5PerformanceTables" model="@Model.EducationPerformance"/>

<div class="govuk-grid-row">
    <partial name="_AdditionalInformation" model="Model.AdditionalInformationViewModel"/>
</div>

@if (!Model.AdditionalInformationViewModel.AddOrEditAdditionalInformation)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
         <form asp-page="/TaskList/SchoolData" asp-route-urn="@Model.Urn" asp-route-academyukprn="@Model.AcademyUkprn" method="get">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Confirm and continue
                </button>
            </form>
        </div>
    </div>
}