@using Data.Models.Projects
@using Helpers
@model Dfe.PrepareTransfers.Web.Pages.Projects.Features.Index

 <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the reason for this transfer?
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.ReasonForTheTransfer == TransferFeatures.ReasonForTheTransferTypes.Empty)
                    {
                        <span class="dfe-empty-tag">Empty</span>
                    }
                    else
                    {
                        var displayName = EnumHelpers<TransferFeatures.ReasonForTheTransferTypes>.GetDisplayValue(Model.ReasonForTheTransfer);
                        @displayName
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/Projects/Features/Reason" asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview ? "true" : null)" data-test="initiated">
                        Change<span class="govuk-visually-hidden"> the reason for the transfer</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What type of transfer is it?
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.TypeOfTransfer == TransferFeatures.TransferTypes.Empty)
                    {
                        <span class="dfe-empty-tag">Empty</span>
                    }
                    else if (Model.TypeOfTransfer == TransferFeatures.TransferTypes.Other)
                    {
                        <p class="govuk-body">Other: @Model.OtherTypeOfTransfer</p>
                    }
                    else
                    {
                        var displayName = EnumHelpers<TransferFeatures.TransferTypes>.GetDisplayValue(Model.TypeOfTransfer);
                        @displayName
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-page="/Projects/Features/Type" asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview  ? "true" : null)" data-test="type">
                        Change<span class="govuk-visually-hidden"> what type of transfer is it?</span>
                    </a>
                </dd>
            </div>
        </dl>
