@model Dfe.PrepareTransfers.Web.Pages.Projects.TransferDates.Index

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Advisory board date
        </dt>
        <dd class="govuk-summary-list__value">
            <datesummary value="@Model.AdvisoryBoardDate" has-date="@Model.HasAdvisoryBoardDate"></datesummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="/Projects/TransferDates/AdvisoryBoard" data-test="ab-date"
               asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview  ? "true" : null)">
                Change<span class="govuk-visually-hidden"> Advisory board date</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Expected date for transfer
        </dt>
        <dd class="govuk-summary-list__value">
            <datesummary value="@Model.TargetDate" has-date="@Model.HasTargetDate"></datesummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="/Projects/TransferDates/Target" data-test="target-date"
               asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview  ? "true" : null)">
                Change<span class="govuk-visually-hidden"> expected date for transfer</span>
            </a>
        </dd>
    </div>
</dl>