@page "/project/{urn}/rationale/trust-or-sponsor"
@model Frontend.Pages.Projects.Rationale.TrustOrSponsor

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Write the rationale for the trust or sponsor";
    Layout = "_Layout";
    var formClasses = ViewData.ModelState.IsValid ? "" : "govuk-form-group--error";
}

@section BeforeMain
{
    <backtopreview id="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/Rationale/Index" asp-route-urn="@Model.Urn">Back</a>
    </backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Urn"/>
            <input type="hidden" asp-for="@Model.ReturnToPreview"/>
            <input type="hidden" asp-for="@Model.IncomingTrustName"/>
            <div class="govuk-form-group @formClasses">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="ViewModel.TrustOrSponsorRationale">
                    <span class="govuk-caption-l">
                        @Model.IncomingTrustName
                    </span>
                    <h1 class="govuk-heading-l">
                        Write the rationale for the incoming trust or sponsor
                    </h1>
                </label>
                <div id="rationale-hint" class="govuk-hint">
                    Explain why the trust is a good match for the school.
                </div>
                <div class="govuk-inset-text">
                    You can format this section after you download your project template.
                </div>

                <span asp-gds-validation-for="ViewModel.TrustOrSponsorRationale"></span>

                <textarea asp-for="ViewModel.TrustOrSponsorRationale" class="govuk-textarea" rows="20" aria-describedby="rationale-hint" data-test="trust-rationale"></textarea>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>