@page "/project/{urn}/key-stage-2-performance/{academyUkprn}"
@using Data.Models.KeyStagePerformance
@using Data.Models
@model Frontend.Pages.TaskList.KeyStage2Performance.KeyStage2Performance

@{
    ViewBag.Title = "Key stage 2 performance tables";
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview id="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
      <a class="govuk-back-link" asp-page="/TaskList/SchoolData" asp-route-urn="@Model.Urn" asp-route-academyUkprn="@Model.AcademyUkprn">Back</a>
    </backtopreview>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Key stage 2 performance tables
        </h1>
        <div class="govuk-inset-text">
            The information here can’t be changed but you will be able to edit the project template after it’s been created.
        </div>
        <p class="govuk-body">
            This information is taken from the Find and compare schools in England service.
        </p>
        <p class="govuk-body">
            <a href="https://www.compare-school-performance.service.gov.uk/school/@Model.OutgoingAcademyUrn" class="govuk-link" rel="noreferrer noopener" target="_blank">View the school's performance data on Find and compare schools in England (opens in new tab)</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
        <partial name="TaskList/KeyStage2Performance/KeyStage2PerformanceTables" model="@(new Tuple<EducationPerformance, Academy>(Model.EducationPerformance, Model.TransferringAcademy))"/>
    </div>
</div>

<div class="govuk-grid-row">
    <partial name="_AdditionalInformation" model="Model.AdditionalInformationViewModel"/>
</div>
@if (!Model.AdditionalInformationViewModel.AddOrEditAdditionalInformation)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form asp-page="/Projects/Index" asp-route-urn="@Model.Urn" method="get">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Confirm and continue
                </button>
            </form>
        </div>
    </div>
}