@page "/project/{id}/key-stage-2-performance"
@model Frontend.Pages.TaskList.KeyStage2Performance.KeyStage2Performance

@{
    ViewBag.Title = "Key stage 2 performance tables";
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview id="@Model.ProjectUrn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.ProjectUrn">Back to task list</a>
    </backtopreview>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Key stage 2 performance tables
        </h1>
        <p class="govuk-body">
            This information is pre-populated from TRAMS.
        </p>
        <p class="govuk-body">
            <a href="https://www.compare-school-performance.service.gov.uk/school/@Model.OutgoingAcademyUrn" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
        <partial name="TaskList/KeyStage2Performance/KeyStage2PerformanceTables" model="@Model" />
    </div>
</div>

<div class="govuk-grid-row">
    <partial name="_AdditionalInformation" model="Model.AdditionalInformation"/>
</div>
@if (!Model.AdditionalInformation.AddOrEditAdditionalInformation)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form asp-action="Index" asp-controller="Project" asp-route-id="@Model.ProjectUrn">
                <button class="govuk-button" data-module="govuk-button">
                    Confirm and continue
                </button>
            </form>
        </div>
    </div>
}