@page "/project/{urn}/features/reason"
@using Frontend.Pages.Projects.Features
@model Frontend.Pages.Projects.Features.Reason

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Reason for the transfer";
    Layout = "_Layout";
    var formClasses = !ViewData.ModelState.IsValid ? "govuk-form-group--error" : "";
}

@section BeforeMain
{
    <backtopreview urn="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/Features/Index" asp-route-urn="@Model.Urn">Back</a>
    </backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Urn"/>
            <input type="hidden" asp-for="@Model.ReturnToPreview"/>
            <input type="hidden" asp-for="@Model.IncomingTrustName"/>

            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">
                                @Model.IncomingTrustName
                            </span>
                            What is the reason for this transfer?
                        </h1>
                    </legend>

                    <p asp-gds-validation-for="@Model.ReasonForTheTransfer"></p>

                    @await Html.PartialAsync("_RadioButtons", Reason.ReasonRadioButtons(@Model.ReasonForTheTransfer))
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>