@page "/project/{urn}/features/reason"
@model Frontend.Pages.Projects.Features.Reason

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Reason for transfer";
    var formClasses = !ViewData.ModelState.IsValid ? "govuk-form-group--error" : "";
    Layout = "_Layout";
}

@section BeforeMain
{
    <backtopreview id="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/Features/Index" asp-route-urn="@Model.Urn">Back</a>
    </backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            @Model.IncomingTrustName
        </span>
        <h1 class="govuk-heading-l">
            Reason for transfer
        </h1>
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Urn"/>
            <input type="hidden" asp-for="@Model.ReturnToPreview"/>
            <input type="hidden" asp-for="@Model.IncomingTrustName"/>
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Has this transfer started because of an intervention with the academy or trust?
                    </legend>

                    <span asp-gds-validation-for="FeaturesReasonViewModel.IsSubjectToIntervention"></span>

                    @await Html.PartialAsync("_InlineRadioButtons", Model.ReasonRadioButtons())
                </fieldset>
            </div>
            <details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help with intervention transfers
                    </span>
                </summary>
                <div class="govuk-details__text">
                    If Regional Delivery Directorate (RDD), Regional Schools Commissioner
                    (RSC) or Education and Skills Funding Agency (ESFA) have intervened.
                    For example, after an inadequate Ofsted judgement.
                </div>
            </details>
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="moreDetail">
                        Can you provide more detail? (optional)
                    </label>
                </h2>
                <div id="more-detail-hint" class="govuk-hint">
                    Give more information about the intention and reasons for RDD, RSC or ESFA intervention if neccessary.
                </div>

                <textarea class="govuk-textarea" id="moreDetail" name="moreDetail" rows="6" aria-describedby="more-detail-hint">@Model.FeaturesReasonViewModel.MoreDetail</textarea>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>