@using Frontend.Helpers
@model Data.Models.KeyStagePerformance.EducationPerformance

@foreach (var ks5Result in Model.KeyStage5Performance.OrderByDescending(o => o.Year))
{
    <h2 class="govuk-heading-m">
        @PerformanceDataHelpers.GetFormattedYear(ks5Result.Year) scores for academic and applied general qualifications
    </h2>
    <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--s">Local authority: @Model.LocalAuthorityName</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Academic progress</th>
            <th scope="col" class="govuk-table__header">Academic average</th>
            <th scope="col" class="govuk-table__header">Applied general progress</th>
            <th scope="col" class="govuk-table__header">Applied general average</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.Academy.AcademicProgress)</td>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.Academy.AcademicAverage)</td>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.Academy.AppliedGeneralProgress)</td>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.Academy.AppliedGeneralAverage)</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National average</th>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.National.AcademicProgress)</td>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.National.AcademicAverage)</td>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.National.AppliedGeneralProgress)</td>
            <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(ks5Result.National.AppliedGeneralAverage)</td>
        </tr>
        </tbody>
    </table>
}