@using Helpers
@model Frontend.Models.TransferDatesViewModel

@{
    ViewBag.Title = "Set transfer dates";
    Layout = "_Layout";
    var transferDates = Model.Project.Dates;
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Urn">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">
            URN @Model.Project.OutgoingAcademyUrn
        </span>
        <h1 class="govuk-heading-l">
            Set transfer dates
        </h1>
        <hr class="govuk-section-break govuk-section-break--l">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date when the transfer was first discussed with a trust
                </dt>
                @if (string.IsNullOrEmpty(transferDates.FirstDiscussed))
                {
                    <dd class="govuk-summary-list__value">
                        <span class="dfe-empty-tag">Empty</span>
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__value">
                        @{
                            var display = DatesHelper.DateStringToGovUkDate(transferDates.FirstDiscussed);
                            @display
                        }
                    </dd>
                }
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="FirstDiscussed" asp-route-urn="@Model.Project.Urn" data-test="first-discussed">
                        Change<span class="govuk-visually-hidden"> date first discussed with a trust</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Set Advisory Board date
                </dt>
                @if (string.IsNullOrEmpty(transferDates.Htb))
                {
                    <dd class="govuk-summary-list__value">
                        <span class="dfe-empty-tag">Empty</span>
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__value">
                        @{
                            var display = DatesHelper.DateStringToGovUkDate(transferDates.Htb);
                            @display
                        }
                    </dd>
                }
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="HtbDate" asp-route-urn="@Model.Project.Urn" data-test="htb-date">
                        Change<span class="govuk-visually-hidden"> Advisory Board date</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Target date for transfer
                </dt>
                @if (string.IsNullOrEmpty(transferDates.Target))
                {
                    <dd class="govuk-summary-list__value">
                        <span class="dfe-empty-tag">Empty</span>
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__value">
                        @{
                            var display = DatesHelper.DateStringToGovUkDate(transferDates.Target);
                            @display
                        }
                    </dd>
                }
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="TargetDate" asp-route-urn="@Model.Project.Urn" data-test="target-date">
                        Change<span class="govuk-visually-hidden"> target date for transfer</span>
                    </a>
                </dd>
            </div>
        </dl>
        <form asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Urn">
            <button class="govuk-button">Confirm and continue</button>
        </form>
    </div>
</div>