@model TransferDatesViewModel

@{
    ViewBag.Title = "Add the target date for the transfer";
    Layout = "_Layout";
    var formClasses = Model.FormErrors.HasErrors ? "govuk-form-group--error" : "";
}

@section BeforeMain
{
    <backtopreview id="@Model.Project.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-action="Index" asp-route-urn="@Model.Project.Urn">Back</a>
    </backtopreview>
}

@await Html.PartialAsync("_FormErrorSummary", Model.FormErrors)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="TargetDate" asp-route-urn="@Model.Project.Urn" method="post" novalidate="">
            <input type="text" name="returnToPreview" value="@Model.ReturnToPreview.ToString()" hidden />
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="target-date-for-transfer-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">
                                @Model.Project.OutgoingAcademyName
                            </span>
                        </h1>
                        <h1 class="govuk-heading-l">
                            Add the target date for the transfer
                        </h1>
                    </legend>
                    <div id="target-date-for-transfer-hint" class="govuk-hint">
                        For example, 23 03 2007
                    </div>

                    @if (Model.FormErrors.HasErrorForField("day"))
                    {
                        <span id="who-initiated-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.FormErrors.ErrorForField("day").ErrorMessage
                        </span>
                    }

                    <div class="govuk-date-input" id="transfer-first-discussed-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="text" pattern="[0-9]*" inputmode="numeric" value="@Model.TargetDate.Day">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="text" pattern="[0-9]*" inputmode="numeric" value="@Model.TargetDate.Month">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="text" pattern="[0-9]*" inputmode="numeric" value="@Model.TargetDate.Year">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
                Useful information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            View full application
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            School information on TRAMS
                        </a>
                    </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </ul>
            </nav>
            <h2 class="govuk-heading-s" id="subsection-title">
                Guidance
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="#">
                            Guidance for setting an HTB date
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">
                            Full Guidance
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>