@page
@using Helpers
@model Dfe.PrepareTransfers.Web.Pages.Transfers.SearchIncomingTrustModel
@{
    Layout = "_Layout";
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Select the incoming trust";
    var formClasses = ViewData.ModelState.IsValid ? "" : "govuk-form-group--error";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-page="/Transfers/IncomingTrust" asp-route-query="@Model.SearchQuery" asp-route-change="@ViewData["ChangeLink"]">Back</a>
}

<div asp-gds-validation-summary></div>
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="govuk-form" method="post">
            <input type="text" name="query" value="@Model.SearchQuery" hidden/>
            <input type="text" name="change" value="@ViewData["ChangeLink"].ToString()" hidden/>
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" id="@nameof(Model.Trusts)">
                        <h1 class="govuk-fieldset__heading">
                            Select the incoming trust
                        </h1>
                    </legend>

                    <p asp-gds-validation-for="Trusts"></p>

                    <div class="govuk-radios">
                        @foreach (var trust in Model.Trusts)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@trust.Ukprn" name="SelectedTrustId" type="radio" value="@trust.Ukprn" aria-describedby="@trust.Ukprn-hint"/>
                                <label class="govuk-label govuk-radios__label" for="@trust.Ukprn">
                                    @trust.TrustName.ToTitleCase() (@trust.Ukprn)
                                </label>
                                <div id="@trust.Ukprn-hint" class="govuk-hint govuk-radios__hint">
                                    Companies House number: @trust.CompaniesHouseNumber
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>