@using Dfe.PrepareTransfers.Web.Helpers
@model Data.Models.KeyStagePerformance.EducationPerformance

@{
    var keyStage4Results = PerformanceDataHelpers.GetFormattedKeyStage4Results(Model.KeyStage4Performance);
}

<h2 class="govuk-heading-l">
    Attainment 8
</h2>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 scores</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipAttainment8score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipAttainment8score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipAttainment8score)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageA8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageA8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageA8Score)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageA8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageA8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageA8Score)</td>
    </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 English</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipAttainment8scoreenglish)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipAttainment8scoreenglish)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipAttainment8scoreenglish)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageA8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageA8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageA8English)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageA8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageA8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageA8English)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 Maths</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipAttainment8scoremaths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipAttainment8scoremaths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipAttainment8scoremaths)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageA8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageA8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageA8Maths)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageA8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageA8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageA8Maths)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 Ebacc</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipAttainment8scoreebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipAttainment8scoreebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipAttainment8scoreebacc)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageA8EBacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageA8EBacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageA8EBacc)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageA8EBacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageA8EBacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageA8EBacc)</td>
    </tr>
    </tbody>
</table>


<h2 class="govuk-heading-l">
    Progress 8
</h2>
<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Pupils included in P8</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipNumberofpupilsprogress8)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipNumberofpupilsprogress8)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipNumberofpupilsprogress8)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageP8PupilsIncluded)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageP8PupilsIncluded)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageP8PupilsIncluded)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageP8PupilsIncluded)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageP8PupilsIncluded)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageP8PupilsIncluded)</td>
    </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">School progress scores</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipProgress8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipProgress8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipProgress8Score)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School confidence interval</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[0].SipProgress8lowerconfidence, keyStage4Results[0].SipProgress8upperconfidence)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[1].SipProgress8lowerconfidence, keyStage4Results[1].SipProgress8upperconfidence)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[2].SipProgress8lowerconfidence, keyStage4Results[2].SipProgress8upperconfidence)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageP8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageP8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageP8Score)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority confidence interval</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[0].LAAverageP8LowerConfidence, keyStage4Results[0].LAAverageP8UpperConfidence)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[1].LAAverageP8LowerConfidence, keyStage4Results[1].LAAverageP8UpperConfidence)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[2].LAAverageP8LowerConfidence, keyStage4Results[2].LAAverageP8UpperConfidence)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageP8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageP8Score)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageP8Score)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National local authority confidence interval</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[0].NationalAverageP8LowerConfidence, keyStage4Results[0].NationalAverageP8UpperConfidence)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[1].NationalAverageP8LowerConfidence, keyStage4Results[1].NationalAverageP8UpperConfidence)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedConfidenceInterval(keyStage4Results[2].NationalAverageP8LowerConfidence, keyStage4Results[2].NationalAverageP8UpperConfidence)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Progress 8 English</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipProgress8english)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipProgress8english)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipProgress8english)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageP8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageP8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageP8English)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageP8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageP8English)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageP8English)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Progress 8 Maths</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipProgress8maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipProgress8maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipProgress8maths)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageP8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageP8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageP8Maths)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageP8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageP8Maths)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageP8Maths)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Progress 8 Ebacc</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].SipProgress8ebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].SipProgress8ebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].SipProgress8ebacc)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].LAAverageP8Ebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].LAAverageP8Ebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].LAAverageP8Ebacc)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[0].NationalAverageP8Ebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[1].NationalAverageP8Ebacc)</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedHtmlResult(keyStage4Results[2].NationalAverageP8Ebacc)</td>
    </tr>
    </tbody>
</table>

<h2 class="govuk-heading-m">
    Percentage of students entering EBacc
</h2>
<table class="govuk-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[0]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[1]?.Year)</th>
        <th scope="col" class="govuk-table__header">@PerformanceDataHelpers.GetFormattedYear(keyStage4Results[2]?.Year)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.AcademyName</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[0].Enteringebacc.ToString())</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[1].Enteringebacc.ToString())</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[2].Enteringebacc.ToString())</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@Model.LocalAuthorityName local authority average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[0].LAEnteringEbacc.ToString())</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[1].LAEnteringEbacc.ToString())</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[2].LAEnteringEbacc.ToString())</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[0].NationalEnteringEbacc.ToString())</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[1].NationalEnteringEbacc.ToString())</td>
        <td class="govuk-table__cell">@PerformanceDataHelpers.GetFormattedResult(keyStage4Results[2].NationalEnteringEbacc.ToString())</td>
    </tr>
    </tbody>
</table>