@page "/project-type"
@using Dfe.PrepareTransfers.Web.ExtensionMethods
@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.ProjectType.IndexModel
@{
	ViewData["Title"] = "Project type - Prepare conversions and transfers";
	Layout = "_Layout";
}

<div asp-gds-validation-summary></div>

<h1 class="govuk-heading-l" data-cy="select-heading">What do you want to do?</h1>
<form method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            </legend>
            <div class="govuk-radios @ModelState.GetFormGroupErrorStyle()" data-module="govuk-radios" id="Type">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" asp-for="@Model.ProjectType.Type"
                           title="conversion" value="@ProjectTypes.Conversion" id="conversion-radio"
                      data-cy="select-projecttype-input-conversion" />
                    <label class="govuk-label govuk-radios__label" for="conversion-radio">
                        Manage an academy conversion
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" asp-for="@Model.ProjectType.Type"
                           title="@ProjectTypes.Transfer" value="@ProjectTypes.Transfer" id="transfer-radio"
                      data-cy="select-projecttype-input-transfer" />
                    <label class="govuk-label govuk-radios__label" for="transfer-radio">
                        Manage an academy transfer
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button" id="submit-btn" data-cy="select-common-submitbutton">
        Continue
    </button>
</form>