@page "/"
@using Frontend.ExtensionMethods
@model Frontend.Pages.Home.Index


@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage an academy transfer
        </h1>
        <p class="govuk-body-l">
            Use this service to start a new academy transfer project or update an existing project.
        </p>
        <a asp-controller="Transfers" asp-action="TrustName" role="button" draggable="false" 
           class="govuk-button govuk-button--start" data-module="govuk-button" data-test="create-transfer">
            Start a new transfer project
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            Projects
        </h2>
        <h3 class="govuk-heading-m">
            Pre-Advisory Board (formerly Headteacher Board)
        </h3>
        @foreach (var project in Model.Projects)
        {
            var firstOutgoingAcademy = project.TransferringAcademies.First();
            
            <div class="dfe-application-card">
                <div class="dfe-application-card--project-info">
                    <h3 class="govuk-heading-m">
                        <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-1" asp-page="/Projects/Index" asp-route-urn="@project.Urn">
                            @firstOutgoingAcademy.IncomingTrustName
                        </a>
                        <span class="govuk-caption-m govuk-!-display-inline">
                            UKPRN @firstOutgoingAcademy.IncomingTrustUkprn
                        </span>
                    </h3>
                    <p class="govuk-body govuk-!-margin-bottom-1">
                        Project reference: @project.Reference
                    </p>
                    <p class="govuk-body">
                        Outgoing trust: @project.OutgoingTrustName
                    </p>
                </div>
            </div>
        }
        <nav class="moj-pagination" id="pagination-label">
            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
            <ul class="moj-pagination__list">
                @if (Model.HasPreviousPage)
                {
                    <li class="moj-pagination__item  moj-pagination__item--prev">
                        <a class="moj-pagination__link" asp-page="/Home/Index" asp-route-currentPage="@Model.PreviousPage">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                    </li>
                    @for (var i = Model.StartingPage; i < Model.CurrentPage; i++)
                    {
                        <li class="moj-pagination__item">
                            <a asp-page="/Home/Index" asp-route-currentPage="@i" class="moj-pagination__link">@i</a>
                        </li>
                    }
                }
                <li class="moj-pagination__item moj-pagination__item--active">@Model.CurrentPage</li>
                @if (Model.HasNextPage)
                {
                    <li class="moj-pagination__item">
                        <a asp-page="/Home/Index" asp-route-currentPage="@Model.NextPage" class="moj-pagination__link">@Model.NextPage</a>
                    </li>
                    <li class="moj-pagination__item  moj-pagination__item--next">
                        <a class="moj-pagination__link" asp-page="/Home/Index" asp-route-currentPage="@Model.NextPage">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                    </li>
                }
            </ul>
            <p class="moj-pagination__results"></p>
        </nav>
    </div>
</div>