@page "/project/{urn}/advisory-board/download/{handler?}"
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.TaskList.HtbDocument.Download

@{
    ViewBag.Title = "Download project template";
    Layout = "_Layout";
}

@section BeforeMain
{
   <partial name="Shared/_DynamicBackLink" model="@Links.Project.Index.For(Model.Urn)" />
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
      <span class="govuk-caption-l">Project reference: @Model.ProjectReference</span>
      <h1 class="govuk-heading-xl">
         Download project template
      </h1>

      <section class="dfe-c-attachment">
         <div class="dfe-c-attachment__thumbnail">
            <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
               <svg class="dfe-c-attachment__thumbnail-image" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                  <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
               </svg>
            </a>
         </div>
         <div class="dfe-c-attachment__details">
            <h2 class="dfe-c-attachment__title">
               <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener" download asp-page-handler="GenerateDocument" asp-route-urn="@Model.Urn" data-test="download-htb">
                  @Model.FileName
               </a>
            </h2>
            <p class="dfe-c-attachment__metadata">
               <span class="dfe-c-attachment__attribute">
                  Microsoft Word Document
               </span>
            </p>
         </div>
      </section>

      <div class="govuk-!-margin-top-6">
         <h2 class="govuk-heading-m">What happens next</h2>
         <p class="govuk-body">Get the downloaded template ready for advisory board.</p>
         <p class="govuk-body">Save the template in the school's SharePoint folder.</p>
         <p class="govuk-body">
            <a href="@_configuration["TemplateFeedback"]" class="govuk-link" target="_blank" rel="noopener">What did you think of this service? (opens in new tab)</a>. This takes 2 minutes.
         </p>
      </div>
   </div>
</div>
