@using Dfe.PrepareTransfers.Data.Models.KeyStagePerformance
@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EducationPerformance

<partial name="TaskList/KeyStage4Performance/KeyStage4PerformanceTables" model="@Model"/>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Additional information
        </dt>
        <dd class="govuk-summary-list__value">
            <stringsummary value="@Model.KeyStage4AdditionalInformation"></stringsummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
               asp-page="/TaskList/KeyStage4Performance/KeyStage4Performance" asp-route-urn="@Model.ProjectUrn"
               asp-route-addOrEditAdditionalInformation="@true" asp-route-returnToPreview="@true"  asp-route-academyukprn="@Model.AcademyUkprn">
                Change<span class="govuk-visually-hidden"> latest ofsted judgement additional information</span>
            </a>
        </dd>
    </div>
</dl>