@page "/project/{urn}/general-information/{academyUkprn}/distance-from-trust";

@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PrepareTransfers.Web.Pages.Projects.GeneralInformation.DistanceFromTrustModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "How far is the converting school from the trust";
    Layout = "_Layout";

    var formClasses = ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error";
}

@section BeforeMain
{
    <backtopreview urn="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link"
           asp-page="/Projects/GeneralInformation/Index"
           asp-route-urn="@Model.Urn"
           asp-route-academyUkprn="@Model.AcademyUkprn">Back</a>
    </backtopreview>

}

<div asp-gds-validation-summary></div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group @formClasses">
            <fieldset class="govuk-fieldset" aria-describedby="diocesan-consent-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading" data-test="header">
                        <span class="govuk-caption-l">
                            @Model.AcademyName
                        </span>
                        How far is the transferring academies from the trust or other academies in the trust?
                    </h1>
                    <p class="govuk-body">Use the school and trust's postcodes to measure the distance on Bing or Google maps.</p>
                    <div id="distance-to-trust-headquarters-hint" class="govuk-hint">
                        For example, 20
                    </div>

                    <form method="post">
                        <div class="govuk-form-group">
                            <div class="govuk-input__wrapper">
                                <input class="govuk-input govuk-input--width-10" id="distance-to-trust-headquarters" name="DistanceToTrust" type="text">
                                <div class="govuk-input__suffix" aria-hidden="true">miles</div>
                            </div>
                        </div>

                        <label class="govuk-label">
                            Add any additional information if you need to
                        </label>
                        <div id="distance-to-trust-headquarters-hint" class="govuk-hint">
                            This information will go into your project template under the school overview section.
                        </div>
                        <textarea class="govuk-textarea" label="Add any additional information if you need to" rows="5" data-test="distance-to-trust-headquarters-additional-information" hint="This information will go into your project template under the school overview section." name="DistanceFromAcademyToTrustHqDetails"></textarea>
                        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit" data-test="submit-btn">
                            Save and continue
                        </button>
                    </form>

                
                </div>
    </div>
</div>
