@model Frontend.Models.Benefits.BenefitsSummaryViewModel

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What are the intended benefits of the transfer
        </dt>
        @if (!Model.IntendedBenefitsSummary().Any())
        {
            <dd class="govuk-summary-list__value">
                <span class="dfe-empty-tag">Empty</span>
            </dd>
        }
        else
        {
            <dd class="govuk-summary-list__value">
                @foreach (var benefit in Model.IntendedBenefitsSummary())
                {
                    <p class="govuk-body">
                        @benefit
                    </p>
                }
            </dd>
        }
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="/Projects/BenefitsAndRisks/IntendedBenefits" asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview ? "true" : null)" data-test="intended-benefits">
                Change<span class="govuk-visually-hidden"> the intended benefits of the transfer</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Are there any risks to consider for this transfer?
        </dt>
        <dd class="govuk-summary-list__value">
            @if (!Model.AnyRisks.HasValue)
            {
                <span class="dfe-empty-tag">Empty</span>
            }
            else
            {
                <p class="govuk-body">@(Model.AnyRisks == true ? "Yes" : "No")</p>
            }
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="/Projects/BenefitsAndRisks/Risks" asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview ? "true" : null)" data-test="other-factors">
                Change<span class="govuk-visually-hidden"> risks to consider</span>
            </a>
        </dd>
    </div>
    @foreach (var otherFactor in Model.OtherFactorsSummary())
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                @otherFactor[0]
            </dt>
            <dd class="govuk-summary-list__value">
                @otherFactor[1]
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
        </div>
    }
</dl>