@model Frontend.Models.Benefits.BenefitsSummaryViewModel

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What are the intended benefits of the transfer
        </dt>
        @if (!Model.IntendedBenefitsSummary().Any())
        {
            <dd class="govuk-summary-list__value">
                <span class="dfe-empty-tag">Empty</span>
            </dd>
        }
        else
        {
            <dd class="govuk-summary-list__value">
                @foreach (var benefit in Model.IntendedBenefitsSummary())
                {
                    <p class="govuk-body">
                        @benefit
                    </p>
                }
            </dd>
        }
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="/Projects/Benefits/IntendedBenefits" asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview  ? "true" : null)" data-test="intended-benefits">
                Change<span class="govuk-visually-hidden"> the intended benefits of the transfer</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Are there any risks to consider
        </dt>
        <dd class="govuk-summary-list__value">
            @if (!Model.OtherFactorsSummary().Any())
            {
                <span class="dfe-empty-tag">Empty</span>
            }
            else
            {
                foreach (var otherFactor in Model.OtherFactorsSummary())
                {
                    <p class="govuk-body">
                        @otherFactor[0]
                        @if (!string.IsNullOrEmpty(otherFactor[1]))
                        {
                            <span>: @otherFactor[1]</span>
                        }
                    </p>
                }
            }
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="/Projects/Benefits/OtherFactors" asp-route-urn="@Model.Urn" asp-route-returnToPreview="@(Model.ReturnToPreview  ? "true" : null)"  data-test="other-factors">
                Change<span class="govuk-visually-hidden"> Are there any risks to consider</span>
            </a>
        </dd>
    </div>
</dl>