@{
	var showBanner = !Context.Request.Cookies.ContainsKey(".PrepareConversionsAndTransfers.Consent");
}

@if (showBanner)
{
	<div data-test="cookie-banner" class="app-cookie-banner" id="appCookieBanner" aria-label="cookie banner">
		<div class="govuk-width-container">
			<div class="app-cookie-banner__container" id="cookieActionsContainer">
				<p class="govuk-body">
					We use cookies to
					<a class="govuk-link" data-test="cookie-banner-link-1" asp-page="@Links.CookiePreferences.PageName">collect information</a>
					about how you use the service.
				</p>
				<div>
					<a role="button" draggable="false" data-test="cookie-banner-accept" class="govuk-button govuk-!-margin-bottom-2" asp-page="@Links.CookiePreferences.PageName" asp-route-consent="true" asp-route-returnUrl="@Context.Request.Path">
						Accept all cookies
					</a>
					<p class="inline-message govuk-body">
						or <a class="govuk-link" data-test="cookie-banner-link-2" asp-page="@(Links.CookiePreferences.PageName)" asp-route-returnUrl="@Context.Request.Path">set your cookie preferences</a>
					</p>
				</div>
			</div>
		</div>
	</div>
}