@using Helpers
@model LatestOfstedJudgementViewModel

<dl class="govuk-summary-list @(!Model.IsPreview ? "govuk-!-margin-bottom-9" : null)">
    <gds-key-value key="School name" value="@Model.SchoolName" show-action="@Model.IsPreview"/>
    <gds-key-value key="Ofsted inspection date" value="@DatesHelper.DateStringToGovUkDate(Model.InspectionDate)" show-action="@Model.IsPreview"/>
    <gds-key-value key="Overall effectiveness" value="@Model.OverallEffectiveness" show-action="@Model.IsPreview"/>
    @* <gds-key-value key="Ofsted reports" value='<a class="govuk-link" href="@Model.OfstedReport" rel="noreferrer noopener" target="_blank">Latest Ofsted report (opens in new tab)</a>' show-action="@Model.IsPreview"/> *@
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key dfe-summary-list__key--width-50">
            Ofsted report
        </dt>
        <dd class="govuk-summary-list__value dfe-summary-list__value--width-50">
            @if (string.IsNullOrEmpty(Model.OfstedReport))
            {
                <span class="dfe-empty-tag">No data</span>
            }
            else
            {
                <a class="govuk-link" href="@Model.OfstedReport" rel="noreferrer noopener" target="_blank">View the school's latest inspection report on Ofsted's website (opens in new tab)</a>
            }
        </dd>
        @if (@Model.IsPreview)
        {
            <dd class="govuk-summary-list__actions"></dd>
        }
    </div>
    @if (Model.IsPreview)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Additional information
            </dt>
            <dd class="govuk-summary-list__value">
                <stringsummary value="@Model.AdditionalInformation.AdditionalInformation"></stringsummary>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                   asp-controller="LatestOfstedJudgement" asp-action="Index"
                   asp-route-id="@Model.Urn" asp-route-addOrEditAdditionalInformation="true"
                   asp-route-returnToPreview="true">
                    Change<span class="govuk-visually-hidden"> latest ofsted judgement additional information</span>
                </a>
            </dd>
        </div>
    }
</dl>