@using Data.Models.Projects
@using Helpers
@model ProjectPageModel

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Who initiated this academy transfer?
        </dt>
        <dd class="govuk-summary-list__value">
            @if (Model.Project.Features.WhoInitiatedTheTransfer == TransferFeatures.ProjectInitiators.Empty)
            {
                <span class="dfe-empty-tag">Empty</span>
            }
            else
            {
                var displayName = EnumHelpers<TransferFeatures.ProjectInitiators>.GetDisplayValue(Model.Project.Features.WhoInitiatedTheTransfer);
                @displayName
            }
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-controller="Features" asp-action="Initiated" 
               asp-route-urn="@Model.Project.Urn" asp-route-returnToPreview="true">
                Change<span class="govuk-visually-hidden"> who initiated the transfer</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Has this transfer started because of an intervention with the academy or trust?
        </dt>
        <dd class="govuk-summary-list__value">
            @if (!Model.Project.Features.HasTransferReasonBeenSet)
            {
                <span class="dfe-empty-tag">Empty</span>
            }
            else
            {
                @if (Model.Project.Features.IsTransferSubjectToIntervention)
                {
                    <p class="govuk-body">Yes</p>
                    <p class="govuk-body">@Model.Project.Features.ReasonForTransfer.InterventionDetails</p>
                }
                else
                {
                    <p class="govuk-body">No</p>
                    <p class="govuk-body">@Model.Project.Features.ReasonForTransfer.InterventionDetails</p>
                }
            }
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-controller="Features" asp-action="Reason" 
               asp-route-urn="@Model.Project.Urn" asp-route-returnToPreview="true">
                Change<span class="govuk-visually-hidden"> has this transfer started because of an intervention with the academy or trust?</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What type of transfer is it?
        </dt>
        <dd class="govuk-summary-list__value">
            @if (Model.Project.Features.TypeOfTransfer == TransferFeatures.TransferTypes.Empty)
            {
                <span class="dfe-empty-tag">Empty</span>
            }
            else if (Model.Project.Features.TypeOfTransfer == TransferFeatures.TransferTypes.Other)
            {
                <p class="govuk-body">Other: @Model.Project.Features.OtherTypeOfTransfer</p>
            }
            else
            {
                var displayName = EnumHelpers<TransferFeatures.TransferTypes>.GetDisplayValue(Model.Project.Features.TypeOfTransfer);
                @displayName
            }
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-controller="Features" asp-action="Type" 
               asp-route-urn="@Model.Project.Urn" asp-route-returnToPreview="true">
                Change<span class="govuk-visually-hidden"> what type of transfer is it?</span>
            </a>
        </dd>
    </div>
</dl>