@{
    Layout = "_Layout";
    var errorExists = (bool) ViewData["Error.Exists"];
    var pageTitle = $"Add the incoming trust name for {ViewData["OutgoingAcademyName"]}";
    ViewBag.Title = errorExists ? $"Error: {pageTitle}" : pageTitle;
    var formClasses = errorExists ? "govuk-form-group--error" : "";
}

@section BeforeMain
{
    @if ((bool) ViewData["ChangeLink"])
    {
        <a class="govuk-back-link" asp-controller="Transfers" asp-action="CheckYourAnswers">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-controller="Transfers" asp-action="OutgoingTrustAcademies">Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (errorExists)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error" data-qa="error">
                <h2 class="govuk-error-summary__title" id="error-summary-title" data-qa="error__heading">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#query" data-qa="error__text">
                                @ViewData["Error.Message"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        <form method="get" asp-action="SearchIncomingTrust">
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset" aria-required="true">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">Add the incoming trust name for @ViewData["OutgoingAcademyName"]</h1>
                    </legend>

                    <div id="query-hint" class="govuk-hint">
                        Search by name, UKPRN or companies house number
                    </div>

                    @if (errorExists)
                    {
                        <span id="query-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error: </span>@ViewData["Error.Message"]
                        </span>
                    }
                    <input class="govuk-input" name="query" id="query" type="text" aria-describedby="query-hint" value="@ViewData["Query"]"/>
                    <input hidden type="text" name="change" value="@ViewData["ChangeLink"].ToString()"/>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Search</button>
        </form>
    </div>
</div>