@model Frontend.Views.Transfers.OutgoingTrustAcademies

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var errorExists = (bool) ViewData["Error.Exists"];
    var formClasses = errorExists ? "govuk-form-group--error" : "";
}

<h1 class="govuk-heading-xl"></h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (errorExists)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error" data-qa="error">
                <h2 class="govuk-error-summary__title" id="error-summary-title" data-qa="error__heading">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#@Model.Academies[0].Id" data-qa="error__text">
                                @ViewData["Error.Message"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        
        <form class="govuk-form" asp-action="SubmitOutgoingTrustAcademies" method="get">
            <div class="govuk-form-group @formClasses">
                <fieldset class="govuk-fieldset" aria-describedby="add-academies-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Add the transferring academies</h1>
                    </legend>
                    <div id="add-academies-hint" class="govuk-hint">
                        Select all the academies that are transferring.
                    </div>

                    @if (errorExists)
                    {
                        <span id="academyId-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData["Error.Message"]
                        </span>
                    }

                    <div class="govuk-radios govuk-radios">
                        @foreach (var academy in Model.Academies)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@academy.Id" name="academyId" type="radio" value="@academy.Id">
                                <label class="govuk-label govuk-radios__label" for="@academy.Id">
                                    @academy.AcademyName (URN @academy.Urn)
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Save and continue</button>
        </form>
    </div>
</div>