@model Frontend.Views.Transfers.TrustSearch

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-controller="Transfers" asp-action="TrustName" asp-route-query="@ViewData["Query"]" asp-route-change="@ViewData["ChangeLink"]">Back</a>
}

<h1 class="govuk-heading-l">Select and outgoing trust</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @foreach (var trust in Model.Trusts)
        {
            <h2 class="govuk-heading-s">
                <a class="govuk-link" asp-action="OutgoingTrustDetails" asp-route-trustId="@trust.Id" asp-route-query="@ViewData["Query"]" asp-route-change="@ViewData["ChangeLink"]">
                    @trust.TrustName (@trust.TrustReferenceNumber)
                </a>
            </h2>
            <p class="govuk-body">Companies House number: @trust.CompaniesHouseNumber</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        }
    </div>
</div>