@using Dfe.PrepareTransfers.Helpers
@model Dfe.PrepareTransfers.Web.Pages.Projects.LatestOfstedJudgement.Index
@{
    var ofstedReportElement = $"<a class=\"govuk-link\" href=\"{Model.LatestOfstedJudgement.OfstedReport}\" rel=\"noreferrer noopener\" target=\"_blank\">View the school's latest inspection report on Ofsted's website (opens in new tab)</a>";
}

<gds-key-value key="Latest full inspection date" value="@DatesHelper.DateStringToGovUkDate(Model.LatestOfstedJudgement.InspectionEndDate)" show-action=@Model.IsPreview />

<gds-key-value key="Quality of education" value="@Model.LatestOfstedJudgement.QualityOfEducation" show-action="@Model.IsPreview" />
<gds-key-value key="Behaviour and attitudes" value="@Model.LatestOfstedJudgement.BehaviourAndAttitudes" show-action="@Model.IsPreview" />
<gds-key-value key="Personal development" value="@Model.LatestOfstedJudgement.PersonalDevelopment" show-action="@Model.IsPreview" />
<gds-key-value key="Leadership and management" value="@Model.LatestOfstedJudgement.EffectivenessOfLeadershipAndManagement" show-action="@Model.IsPreview" />

@if (Model.LatestOfstedJudgement.EarlyYearsProvisionApplicable)
{
    <gds-key-value key="Early years provision" value="@Model.LatestOfstedJudgement.EarlyYearsProvision" show-action="@Model.IsPreview" />
}
@if (Model.LatestOfstedJudgement.SixthFormProvisionApplicable)
{
    <gds-key-value key="Sixth form provision" value="@Model.LatestOfstedJudgement.SixthFormProvision" show-action="@Model.IsPreview" />
}

<gds-key-value key="Ofsted report" value="@ofstedReportElement" show-action="@Model.IsPreview" />