@page "/project/{urn}/rationale/project"
@model Dfe.PrepareTransfers.Web.Pages.Projects.Rationale.Project

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Write the rationale for the project";
    Layout = "_Layout";
    var formClasses = ViewData.ModelState.IsValid ? "" : "govuk-form-group--error";
}

@section BeforeMain
{
    <backtopreview urn="@Model.Urn" return-to-preview="@Model.ReturnToPreview">
        <a class="govuk-back-link" asp-page="/Projects/Rationale/Index" asp-route-urn="@Model.Urn">Back</a>
    </backtopreview>
}

<div asp-gds-validation-summary></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="">
            <input type="hidden" asp-for="@Model.Urn" />
            <input type="hidden" asp-for="@Model.ReturnToPreview" />
            <input type="hidden" asp-for="@Model.IncomingTrustName" />
            <div class="govuk-form-group @formClasses">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="ViewModel.ProjectRationale">
                    <span class="govuk-caption-l">
                        @Model.IncomingTrustName
                    </span>
                    <h1 class="govuk-heading-l">
                        Write the rationale for the project
                    </h1>
                </label>
                <div id="rationale-hint" class="govuk-hint">
                    Use the school's rationale from the application as a basis for your analysis.
                </div>
                <div class="govuk-inset-text">
                    You can format this section after you download your project template.
                </div>

                <p asp-gds-validation-for="ViewModel.ProjectRationale"></p>
                
                <textarea asp-for="ViewModel.ProjectRationale" class="govuk-textarea" rows="20" aria-describedby="rationale-hint" data-test="project-rationale"></textarea>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>