@using Data.Models
@using Data.Models.KeyStagePerformance
@model ProjectPageModel

<partial name="TaskList/KeyStage5Performance/KeyStage5PerformanceTables"model="@(new Tuple<EducationPerformance, Academy>(Model.EducationPerformance, Model.TransferringAcademy))"/>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Additional information
        </dt>
        <dd class="govuk-summary-list__value">
            <stringsummary value="@Model.Project.KeyStage5PerformanceAdditionalInformation"></stringsummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
               asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-urn="@Model.Project.Urn"
               asp-route-addOrEditAdditionalInformation="@true" asp-route-returnToPreview="@true"  asp-route-academyukprn="@Model.TransferringAcademy.Ukprn">
                Change<span class="govuk-visually-hidden"> Key Stage 5 Performance additional information</span>
            </a>
        </dd>
    </div>
</dl>