@using Data.Models
@using Data.Models.KeyStagePerformance
@model Tuple<EducationPerformance, Academy, string, string>

<partial name="TaskList/KeyStage5Performance/KeyStage5PerformanceTables" model="@(new Tuple<EducationPerformance, Academy>(Model.Item1, Model.Item2))"/>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Additional information
        </dt>
        <dd class="govuk-summary-list__value">
            <stringsummary value="@Model.Item3"></stringsummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
               asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-urn="@Model.Item4"
               asp-route-addOrEditAdditionalInformation="@true" asp-route-returnToPreview="@true"  asp-route-academyukprn="@Model.Item2.Ukprn">
                Change<span class="govuk-visually-hidden"> Key Stage 5 Performance additional information</span>
            </a>
        </dd>
    </div>
</dl>