@model ProjectPageModel

<partial name="TaskList/KeyStage5Performance/KeyStage5PerformanceTables" model="@Model"/>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Additional information if you need to
        </dt>
        <dd class="govuk-summary-list__value">
            <stringsummary value="@Model.Project.KeyStage5PerformanceAdditionalInformation"></stringsummary>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link"
               asp-page="/TaskList/KeyStage5Performance/KeyStage5Performance" asp-route-id="@Model.Project.Urn"
               asp-route-addOrEditAdditionalInformation="@true" asp-route-returnToPreview="@true">
                Change<span class="govuk-visually-hidden">latest ofsted judgement additional information</span>
            </a>
        </dd>
    </div>
</dl>