@page "/task-list/{urn}/decision/who-decided"
@using Dfe.PrepareTransfers.Data.Models.AdvisoryBoardDecision
@using Dfe.Academisation.ExtensionMethods
@using Dfe.PrepareTransfers.Extensions
@model Dfe.PrepareTransfers.Pages.TaskList.Decision.WhoDecidedModel
@{
   ViewData["Title"] = $"Who made the {Model.DecisionText} decision";
   Layout = "_Layout";
}

@section BeforeMain
{
   <partial name="_BackLink" model="@Model.BackLinkModel"/>
   <partial name="_ErrorSummary"/>
}

<span id="selection-span" class="govuk-caption-l">@Model.TrustName</span>
<h1 class="govuk-heading-l">Who made this decision?</h1>

<form method="post">

   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
         </legend>
         <div class="govuk-radios @ModelState.GetErrorStyleClass()" data-module="govuk-radios" id="DecisionMadeBy">

            @foreach (DecisionMadeBy decisionOption in Model.DecisionMadeByOptions)
            {
               var id = $"{decisionOption.ToString().ToLower()}-radio";

               <div class="govuk-radios__item ">
                  <input class="govuk-radios__input" type="radio" asp-for="@Model.DecisionMadeBy"
                         title="@decisionOption.ToString().ToLower()" value="@decisionOption.ToString()"
                         id="@id"/>
                  <label class="govuk-label govuk-radios__label" for="@id">
                     @decisionOption.ToDescription()
                  </label>
               </div>
            }
         </div>
      </fieldset>
   </div>

   <button class="govuk-button" data-module="govuk-button" id="submit-btn">
      Continue
   </button>
</form>