@page "/project-assignment/{urn:int}"
@model Frontend.Pages.Projects.ProjectAssignment.IndexModel
@{
    ViewData["Title"] = "Who will be on this project?";
}

@section BeforeMain
    {
    <a asp-page="@Links.Project.Index.PageName" asp-route-id="@Model.Id" class="govuk-back-link">Back</a>
}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span data-id="school-name" class="govuk-caption-l">@Model.SchoolName</span>
            <h1 class="govuk-heading-l">Who will be on this project?</h1>

            <div class="govuk-form-group">
                <label class="govuk-label" for="delivery-officer">
                    Delivery officer
                </label>

                <div id="delivery-officer-assigned-hint" class="govuk-hint">
                    The delivery officer responsible for this project
                </div>

                <form method="post">
                    <input type="hidden" asp-for="@Model.Id" />
                    <select name="SelectedName" class="autocomplete__menu govuk-select" id="delivery-officer">
                        <option value=""></option>
                        @{
                        foreach (var deliveryOfficer in Model.DeliveryOfficers)
                        {
	                        if (Model.SelectedDeliveryOfficer == deliveryOfficer.FullName)
	                        {
		                        <option value="@deliveryOfficer.FullName" selected>@deliveryOfficer.FullName</option>
	                        }
	                        else
	                        {
		                        <option value="@deliveryOfficer.FullName">@deliveryOfficer.FullName</option>   
	                        }
                        }
                    }
                </select>

                <div class="govuk-button-group govuk-!-margin-top-5">
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <input type="hidden" name="UnassignDeliveryOfficer" id="UnassignDeliveryOfficer" />
                    <span class="govuk-body govuk-!-margin-right-2 govuk-!-margin-left-1">or </span><a href="#" id="unassign-link" class="govuk-link">Unassign the delivery officer</a>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="application/javascript" asp-add-nonce>
    var deliveryOfficerSelect = document.querySelector('#delivery-officer');
    accessibleAutocomplete.enhanceSelectElement({
        selectElement: deliveryOfficerSelect
    });

    document.querySelector('#unassign-link').onclick = () =>{
        document.querySelector('#UnassignDeliveryOfficer').value = true;
        document.querySelector('form').submit();
    };
</script>